.bases-toolbar-menu-container {
  --bases-property-menu-item-radius: calc(var(--radius-m) - 4px);
}

// Menu
.text-icon-button {
  border-radius: var(--clickable-icon-radius);
}

.menu {
  .bases-toolbar-menu-form {
    padding: 0;
  }
}

.menu.mod-filters {
  padding: 4px;

  .query-toolbar-section-header {
    padding: 8px;
  }
}

// Bases
.bases-cards-label {
  color: var(--text-faint);
}

.bases-table-container.mod-multiline .bases-table-cell {
  align-items: var(--bases-table-align-items, start);
}

.bases-table-cell > * {
  text-overflow: ellipsis;
  overflow: auto;
}

body.bases-row-alt .bases-tbody .bases-tr:nth-child(odd) {
  background-color: var(--background-secondary);
}
body.bases-col-alt .bases-tbody .bases-tr > .bases-td:nth-child(2n + 2) {
  background-color: var(--background-secondary);
}
