body {
  --bases-header-border-width: 0;

  --bases-table-header-color: var(--text-faint);
}

.bases-toolbar-menu-container {
  --bases-property-menu-item-radius: calc(var(--radius-m) - 4px);
}

// Menu
.query-toolbar-menu {
  transition: none;
}

.text-icon-button {
  border-radius: var(--clickable-icon-radius);
}

.menu {
  .bases-toolbar-menu-form {
    padding: 0;
  }
}

.menu.mod-filters {
  padding: 4px;

  .query-toolbar-section-header {
    padding: 8px;
  }
}

// Bases
.bases-cards-label {
  color: var(--text-faint);
}

.bases-table-container.mod-multiline .bases-table-cell {
  align-items: var(--bases-table-align-items, start);
}

.bases-thead {
  height: calc(var(--bases-table-row-height) + 4px);
}
.bases-thead .bases-td {
  box-shadow: none;
  border-radius: var(--radius-s);
  overflow: visible;
  transition: var(--anim-duration-fast);
}
.bases-thead .bases-td:hover {
  --bases-table-header-color: var(--text-normal);
  transition: none;
}
.bases-table-header-resizer {
  border-radius: var(--radius-s);
  transition: var(--anim-duration-superfast);
}

.bases-table-cell > * {
  text-overflow: ellipsis;
  overflow: hidden;
}

.bases-table-numbers {
  .bases-table {
    counter-reset: section;
    .bases-tr > .bases-td:first-child {
      white-space: nowrap;
      .bases-table-header-label,
      .bases-table-header-name {
        padding-inline-start: 0;
      }
      &::before {
        content: " ";
        padding-right: 0.5em;
        display: inline-block;
        min-width: 2em;
      }
    }
    .bases-tbody .bases-tr > .bases-td:first-child {
      &::before {
        counter-increment: section;
        content: counter(section) " ";
        text-align: center;
        color: var(--text-faint);
        font-variant-numeric: tabular-nums;
        font-size: var(--bases-table-text-size);
      }
    }
  }
}

body.bases-row-alt .bases-tbody .bases-tr:nth-child(odd) {
  background-color: var(--background-secondary);
}
body.bases-col-alt .bases-tbody .bases-tr > .bases-td:nth-child(2n + 2) {
  background-color: var(--background-secondary);
}
