body {
  --bases-header-border-width: 0;

  --bases-table-header-color: var(--text-faint);
}

.bases-toolbar-menu-container {
  --bases-property-menu-item-radius: calc(var(--radius-m) - 4px);
}

// Menu
.query-toolbar-menu {
  transition: none;
}

.text-icon-button {
  border-radius: var(--clickable-icon-radius);
}

.menu {
  .bases-toolbar-menu-form {
    padding: 0;
  }
}

.menu.mod-filters {
  padding: 4px;

  .query-toolbar-section-header {
    padding: 8px;
  }
}

// Bases
.bases-cards-label {
  color: var(--text-faint);
}

.bases-table-container.mod-multiline .bases-table-cell {
  align-items: var(--bases-table-align-items, start);
}

.bases-thead .bases-td {
  box-shadow: none;
  border-radius: var(--radius-s);
  overflow: visible;
}
.bases-thead .bases-td:hover {
  --bases-table-header-color: var(--text-normal);
}
.bases-table-header-resizer {
  border-radius: var(--radius-s);
}

.bases-table-cell > * {
  text-overflow: ellipsis;
  overflow: hidden;
}

.bases-table-numbers {
  .bases-table {
    counter-reset: section;
    .bases-tr > .bases-td:first-child {
      white-space: nowrap;
      .bases-table-header-label,
      .bases-table-header-name {
        padding-inline-start: 0;
      }
      &::before {
        content: " ";
        padding-right: 0.5em;
        display: inline-block;
        min-width: 2em;
      }
    }
    .bases-tbody .bases-tr > .bases-td:first-child {
      &::before {
        counter-increment: section;
        content: counter(section) " ";
        text-align: center;
        color: var(--text-faint);
        font-variant-numeric: tabular-nums;
        font-size: var(--bases-table-text-size);
      }
    }
  }
}

body.bases-row-alt .bases-tbody .bases-tr:nth-child(odd) {
  background-color: var(--background-secondary);
}
body.bases-col-alt .bases-tbody .bases-tr > .bases-td:nth-child(2n + 2) {
  background-color: var(--background-secondary);
}

// Bases: Embed
.workspace-leaf-content[data-type="markdown"] .bases-embed .bases-view {
  border: none;
  border-radius: 0;

  .bases-thead,
  .bases-tbody,
  .bases-tbody > .bases-tr:first-child,
  .bases-tbody > .bases-tr > .bases-td:first-child {
    box-shadow: none;
  }

  .bases-tbody {
    border: var(--bases-embed-border-width) solid var(--bases-embed-border-color);
    border-radius: var(--bases-embed-border-radius);
  }
}
