@media screen, print {
  body {
    --callout-border-width: var(--input-border-width);
    --callout-padding: 16px;
  }

  .callout {
    p:first-child,
    .callout-content > *:first-child {
      margin-top: 8px;
    }

    p:last-child,
    .callout-content > *:last-child {
      margin-bottom: 0;
    }

    pre {
      box-shadow: none;
      border: var(--border-width) solid var(--background-modifier-border);
    }

    .callout-title {
      align-items: center;
      gap: 8px;
    }

    &.is-collapsible .callout-title {
      cursor: pointer;
    }

    .callout-title-inner {
      --p-spacing: 0;
    }

    .callout-content {
      margin-left: 28px;
    }
  }

  .callout:not([data-callout]) {
    --callout-color: var(--color-accent);
    background-color: hsla(var(--color-accent-hsl), 0.15);
    border-color: hsla(var(--color-accent-hsl), var(--callout-border-opacity));

    .callout-title {
      color: var(--callout-color);
    }
  }
}
