@media screen, print {
  body {
    --code-border-width: 1px;
    --code-size: var(--font-smallest);
  }

  .markdown-rendered code {
    padding: 2px 4px;
  }

  .markdown-rendered pre code {
    white-space: var(--code-white-space);
  }

  body.code-scroll {
    --code-white-space: pre;

    .HyperMD-codeblock {
      overflow-y: scroll;
      white-space: pre;
    }
  }
}
