@media screen, print {
  body {
    --inline-title-margin-bottom: 1em;
    --heading-spacing: 2em;
    --p-spacing: 1.75rem;
    --list-spacing: 0.2em;
    --line-height-normal: 1.6;

    --h1-font: var(--font-text-override), "InstrumentSerif", serif;
    --h2-font: var(--font-text-override), "InstrumentSerif", serif;
    --h3-font: var(--font-text-override), "InstrumentSerif", serif;
    --h4-font: var(--font-text-override), "InstrumentSerif", serif;
    --h5-font: var(--font-text-override), "InstrumentSerif", serif;
    --h6-font: var(--font-text-override), "InstrumentSerif", serif;

    --code-border-width: 1px;
    --code-size: var(--font-smallest);

    --embed-border-start: 2px solid var(--color-base-50);
    --embed-padding: 0 0 0 16px;
    --embed-max-height: none;

    --media-radius: var(--radius-s);

    --metadata-gap: 8px;

    --tag-padding-x: 8px;
    --tag-padding-y: 4px;
    --tag-radius: 8px;

    --link-decoration: none;
    --link-external-decoration: none;
  }

  .workspace-split.mod-root {
    background-color: var(--background-secondary);
  }
  .workspace-split.mod-root .workspace-tabs .workspace-leaf {
    background-color: transparent;
  }
  .workspace-split.mod-root .workspace-tabs .workspace-tab-container {
    border-radius: var(--radius-s);
  }

  .view-header {
    padding: 0 8px;
    flex-shrink: 0;
  }
  .view-header-nav-buttons,
  .view-actions {
    --icon-size: var(--icon-m);
  }
  .view-header-title-container {
    transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
  }
  .view-header-title-container.webviewer-address-container {
    padding: 0;
  }
  body:not(.is-mobile) .view-header-title-container:not(:hover) {
    opacity: 0;
  }
  body:not(.is-mobile).view-header-title-hidden .view-header-title-container {
    visibility: hidden;
  }
  body:not(.is-mobile).view-header-title-always .view-header-title-container {
    opacity: 1;
  }
  body.is-mobile .view-actions {
    padding: 0;
  }

  // Active line
  body.active-line-side .markdown-source-view .cm-active:not(:has(.cm-fold-indicator):hover)::after {
    position: absolute;
    top: 4px;
    bottom: 4px;
    inset-inline-start: -16px;
    border-left: 4px solid var(--background-modifier-border-hover);
    border-radius: var(--input-radius);
    content: "";
  }
  body.active-line-block .markdown-source-view .cm-active::after {
    position: absolute;
    inset: -2px -4px;
    background: var(--background-secondary);
    content: "";
    z-index: -1;
    border-radius: var(--radius-s);
  }
  body.active-line-background .markdown-source-view .cm-active::after {
    position: absolute;
    inset: -2px -100%;
    background: var(--background-secondary);
    content: "";
    z-index: -1;
  }
  body.active-line-color-accent.active-line-side .markdown-source-view .cm-active:not(:has(.cm-fold-indicator):hover)::after {
    border-color: var(--color-accent);
  }
  bodyactive-line-color-accent:is(.active-line-block, .active-line-background) .markdown-source-view .cm-active::after {
    background-color: var(--background-modifier-active-hover);
  }

  // Codeblocks
  .markdown-rendered code {
    padding: 2px 4px;
  }

  .markdown-rendered pre code {
    white-space: var(--code-white-space);
  }

  body.code-scroll {
    --code-white-space: pre;

    .HyperMD-codeblock {
      overflow-y: scroll;
      white-space: pre;
    }
  }

  body.code-line-numbers .HyperMD-codeblock-begin {
    counter-reset: codeblock-line-numbers;
  }
  body.code-line-numbers .HyperMD-codeblock:not(.HyperMD-codeblock-begin, .HyperMD-codeblock-end)::before {
    counter-increment: codeblock-line-numbers;
    content: counter(codeblock-line-numbers);
    font-size: var(--font-smallest);
    text-align: right;
    color: var(--text-muted);
    padding-right: 1em;
  }

  kbd {
    box-shadow: var(--shadow-tactile);
    border: 1px solid var(--background-modifier-border);
    background: linear-gradient(var(--background-primary), var(--background-secondary));
    padding: var(--tag-padding-y) var(--tag-padding-x);
    font-family: var(--font-text);
  }

  // Dataview
  .dataview .inline-field-standalone-value,
  body .dataview.inline-field-key,
  body .dataview.inline-field-value {
    font-family: var(--font-text);
    font-size: var(--font-smaller);
    background: transparent;
    color: var(--text-faint);
    padding: 0;
  }

  // Embeds
  .embed-strict {
    --embed-border-start: none;
    --embed-padding: 0;
  }
  .embed-hide-title .embed-title {
    display: none;
  }

  .markdown-embed {
    max-height: var(--embed-max-height);
    overflow: scroll;
  }

  iframe.external-embed {
    width: -webkit-fill-available;
    aspect-ratio: 16/9;
    height: auto;
  }

  .block-language-chart {
    width: 100% !important;
  }

  // Frontmatter
  body.metadata-heading-off .metadata-properties-heading {
    display: none;
  }
  body.metadata-add-property-off .metadata-add-button {
    display: none;
  }
  body.metadata-icons-off .metadata-property-icon {
    display: none;
  }
  .metadata-container .metadata-show-source-button,
  .metadata-container .metadata-add-button {
    gap: 8px;
    text-transform: lowercase;
    padding-inline-start: 8px;
    margin-left: -4px;
    margin-top: var(--metadata-gap);
  }

  // Headings
  .HyperMD-header-1,
  .inline-title h1,
  .HyperMD-list-line .cm-header-1 {
    text-transform: var(--h1-transform);
  }
  .HyperMD-header-2,
  .inline-title h2,
  .HyperMD-list-line .cm-header-2 {
    text-transform: var(--h2-transform);
  }
  .HyperMD-header-3,
  .inline-title h3,
  .HyperMD-list-line .cm-header-3 {
    text-transform: var(--h3-transform);
  }
  .HyperMD-header-4,
  .inline-title h4,
  .HyperMD-list-line .cm-header-4 {
    text-transform: var(--h4-transform);
  }
  .HyperMD-header-5,
  .inline-title h5,
  .HyperMD-list-line .cm-header-5 {
    text-transform: var(--h5-transform);
  }
  .HyperMD-header-6,
  .inline-title h6,
  .HyperMD-list-line .cm-header-6 {
    text-transform: var(--h6-transform);
  }

  // Highlights
  .markdown-reading-view mark,
  .markdown-source-view mark,
  .markdown-rendered mark {
    box-decoration-break: clone;
    border-radius: var(--radius-s);
    padding: 2px 4px;
  }

  .cm-s-obsidian span.cm-highlight {
    box-decoration-break: clone;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .cm-line .cm-highlight:nth-child(1 of .cm-highlight) {
    border-top-left-radius: var(--radius-s);
    border-bottom-left-radius: var(--radius-s);
    padding-left: 4px;
  }
  .cm-line .cm-highlight:nth-last-child(1 of .cm-highlight) {
    border-top-right-radius: var(--radius-s);
    border-bottom-right-radius: var(--radius-s);
    padding-right: 4px;
  }

  // Media
  body:not(.full-width-media-off) {
    --iframe-width: 100%;

    .markdown-source-view,
    .markdown-preview-view {
      .image-embed img:not(.link-favicon):not(.emoji):not([width]),
      img:not(.link-favicon):not(.emoji):not([width]),
      .external-embed,
      audio,
      video {
        width: 100%;
      }
    }
  }
  .workspace-leaf-content[data-type="markdown"] {
    video,
    img:not(.emoji),
    .image-embed:not(.canvas-node-content),
    iframe.external-embed {
      border-radius: var(--media-radius);
      max-width: 100%;
    }
  }

  body.theme-dark .workspace-leaf-content[data-type="markdown"] {
    video,
    img:not(.emoji),
    .image-embed:not(.canvas-node-content),
    iframe.external-embed {
      transition: var(--anim-duration-moderate);
      &:not(:hover) {
        opacity: var(--media-muted, 1);
      }
    }
  }

  // Tags
  body.unstyled-tags {
    --tag-background: transparent;
    --tag-background-hover: transparent;
    --tag-border-width: 0px;
    --tag-padding-x: 0;
    --tag-padding-y: 0;
    --tag-size: inherit;
    --tag-color-hover: var(--text-accent-hover);
  }

  // Tasks
  body.strike-lists-off {
    --checklist-done-decoration: none;
    --checklist-done-color: var(--text-normal);
  }
  .task-list-item {
    --indentation-guide-reading-indent: -1.05em;
  }

  // PDF Viewer
  body.pdf-seamless {
    --pdf-shadow: none;
  }
  body.theme-dark.pdf-invert-dark .pdf-container .pdfViewer .page {
    filter: invert(1) hue-rotate(180deg) contrast(0.75);
  }
  .pdf-container .pdfViewer .page {
    transition: var(--anim-duration-moderate);
    &:not(:hover) {
      opacity: var(--pdf-muted, 1);
    }
  }
}
