@media screen, print {
  body {
    --inline-title-margin-bottom: 1em;
    --heading-spacing: 2em;
    --p-spacing: 1.75rem;
    --list-spacing: 0.2em;
    --line-height: 1.5;
    --line-height-normal: calc(var(--line-height) * 1.05);
    --line-height-tight: calc(var(--line-height) * 0.85);

    --h1-weight: 600;
    --h6-weight: 400;

    --h1-font: "InstrumentSerif";
    --h2-font: "InstrumentSerif";
    --h3-font: "InstrumentSerif";
    --h4-font: "InstrumentSerif";
    --h5-font: "InstrumentSerif";
    --h6-font: "InstrumentSerif";

    --anim-motion-baseline: cubic-bezier(0.1, 0, 0.1, 1.25);
    --anim-duration-superfast: 80ms;
    --anim-duration-fast: 160ms;
    --anim-duration-moderate: 320ms;
    --anim-duration-slow: 640ms;
  }
}

.workspace-split.mod-root {
  background-color: var(--background-secondary);
}
.workspace-split.mod-root .workspace-tabs .workspace-leaf {
  background-color: transparent;
}
.workspace-split.mod-root .workspace-tabs .workspace-tab-container {
  border-radius: var(--radius-s);
}

.view-header {
  padding: 0 8px;
  flex-shrink: 0;
}
.view-header-nav-buttons,
.view-actions {
  --icon-size: var(--icon-m);
}
.view-header-title-container {
  transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
}
.view-header-title-container:not(:hover) {
  opacity: 0;
}
body.view-header-title-hidden .view-header-title-container {
  visibility: hidden;
}
body.view-header-title-visible .view-header-title-container {
  opacity: 1;
}

// Active line
body.active-line-on .markdown-source-view .cm-active:not(:has(.cm-fold-indicator):hover) {
  &::after {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -12px;
    border-left: 4px solid var(--background-modifier-border-hover);
    border-radius: var(--input-radius);
    content: "";
  }

  &[dir="rtl"]::after {
    right: -12px;
    left: unset;
  }
}

body.is-mobile .view-actions {
  padding: 0;
}
