@media screen, print {
  body {
    --embed-border-start: 2px solid var(--color-base-50);
    --embed-padding: 0 0 0 16px;
    --embed-max-height: none;
  }

  .embed-strict {
    --embed-border-start: none;
    --embed-padding: 0;
  }
  .embed-hide-title .embed-title {
    display: none;
  }

  .markdown-embed {
    max-height: var(--embed-max-height);
    overflow: scroll;
  }

  iframe.external-embed {
    width: -webkit-fill-available;
    border-radius: var(--radius-s);
    aspect-ratio: 16/9;
    height: auto;
  }

  .block-language-chart {
    width: 100% !important;
  }
}
