@media screen, print {
  .metadata-properties-heading {
    width: 100%;
  }

  // Side panels
  .workspace > .workspace-split:not(.mod-root) .metadata-container .metadata-properties {
    --metadata-divider-width: 0px;
    --metadata-gap: 8px;
  }

  // Editor panel
  .mod-root .metadata-container .metadata-show-source-button,
  .mod-root .metadata-container .metadata-add-button {
    gap: 8px;
    padding-inline-start: 8px;
    margin-left: -4px;
    margin-top: var(--metadata-gap);
  }

  // Metadata: Style Settings
  body.metadata-heading-off .metadata-properties-heading {
    display: none;
  }
  body.metadata-add-property-off .metadata-add-button {
    display: none;
  }
  body.metadata-icons-off .metadata-property-icon {
    display: none;
  }

  // Metadata: Block
  body.metadata-block {
    --metadata-background: var(--background-primary-alt);
    --metadata-border-width: var(--border-width);
    --metadata-padding: 12px 16px;

    .metadata-container {
      border-radius: var(--radius-s);
    }

    .metadata-properties-heading.is-collapsed {
      margin-bottom: 0;
    }

    .metadata-properties-heading .collapse-indicator {
      inset-inline-start: -16px;
    }

    .workspace-split:not(.mod-root) .metadata-container {
      padding: 8px !important;
    }
  }
}
