@media screen, print {
  body.metadata-heading-off .metadata-properties-heading {
    display: none;
  }
  body.metadata-add-property-off .metadata-add-button {
    display: none;
  }
  body.metadata-icons-off .metadata-property-icon {
    display: none;
  }
}
