@media screen, print {
  body {
    --table-add-button-border-width: 0;
    --table-header-border-color: transparent;
  }

  table,
  .markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper {
    width: 100%;
  }

  :root table {
    border-collapse: separate;
    border-spacing: 0;
  }

  .markdown-preview-view,
  .cm-sizer {
    table {
      position: relative;
      border-radius: var(--radius-s);
    }

    .table-cell-wrapper:active,
    .table-cell-wrapper:focus,
    .table-cell-wrapper:focus-within {
      background-color: var(--background-modifier-hover);
    }

    tbody {
      background-color: var(--background-primary-alt);
      position: relative;
    }

    thead > th,
    tbody > tr:not(:last-child) > td {
      border-bottom: none;
    }

    thead > th:not(:last-child),
    tbody > tr > td:not(:last-child) {
      border-right: none;
    }

    tbody > tr:first-child > td:first-child,
    tbody > tr:first-child > td:first-child .table-cell-wrapper {
      border-top-left-radius: var(--radius-s);
    }
    tbody > tr:first-child > td:last-child,
    tbody > tr:first-child > td:last-child .table-cell-wrapper {
      border-top-right-radius: var(--radius-s);
    }
    tbody > tr:last-child > td:first-child,
    tbody > tr:last-child > td:first-child .table-cell-wrapper {
      border-bottom-left-radius: var(--radius-s);
    }
    tbody > tr:last-child > td:last-child,
    tbody > tr:last-child > td:last-child .table-cell-wrapper {
      border-bottom-right-radius: var(--radius-s);
    }

    .cm-table-widget[dir="rtl"],
    .el-table[dir="rtl"],
    div[dir="rtl"] {
      tbody > tr:first-child > td:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: var(--radius-s);
      }
      tbody > tr:first-child > td:last-child {
        border-top-left-radius: var(--radius-s);
        border-top-right-radius: 0;
      }
      tbody > tr:last-child > td:first-child,
      tbody > tr:last-child > td:first-child .table-cell-wrapper {
        border-bottom-right-radius: var(--radius-s);
        border-bottom-left-radius: 0;
      }
      tbody > tr:last-child > td:last-child,
      tbody > tr:last-child > td:last-child .table-cell-wrapper {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: var(--radius-s);
      }

      tbody > tr > td:first-child {
        border-right: var(--table-border-width) solid var(--table-border-color);
      }
      tbody > tr > td:last-child {
        border-right: none;
        border-left: var(--table-border-width) solid var(--table-border-color);
      }
    }
  }

  .cm-html-embed th,
  .markdown-rendered th,
  .cm-html-embed td,
  .markdown-rendered td,
  .markdown-source-view.mod-cm6 .cm-table-widget .table-cell-wrapper {
    padding: 8px;
  }
}

.dataview {
  &.table-view-table {
    &::before {
      border: none;
    }

    tr:first-child > td {
      border-top: none;
    }
  }

  &.table-view-table > thead > tr > th {
    border-bottom: none;
    font-weight: var(--table-header-weight);
    font-size: var(--table-header-size);
  }

  &.table-view-table > tbody > tr:not(:only-child) > td {
    max-width: 20em;
    text-wrap: nowrap;

    &:hover {
      text-wrap: wrap;
      word-break: break-word;
    }
  }

  &.dataview-error-box {
    border: none;
    border-radius: var(--radius-s);
    background-color: var(--background-secondary);
    min-height: 80px;
  }
}
