@media screen, print {
  body {
    --table-add-button-border-width: 0;
    --table-header-border-color: transparent;
  }

  table,
  .markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper {
    width: 100%;
  }

  :root table {
    border-collapse: separate;
    border-spacing: 0;
  }

  .markdown-preview-view,
  .cm-sizer {
    table {
      position: relative;
      border-radius: var(--radius-s);
    }

    .table-cell-wrapper:active,
    .table-cell-wrapper:focus,
    .table-cell-wrapper:focus-within {
      background-color: var(--background-modifier-hover);
    }

    tbody {
      background-color: var(--background-primary-alt);
      position: relative;
    }

    thead > th,
    tbody > tr:not(:last-child) > td {
      border-block-end: none;
    }

    thead > th:not(:last-child),
    tbody > tr > td:not(:last-child) {
      border-inline-end: none;
    }

    tbody > tr:first-child > td:first-child,
    tbody > tr:first-child > td:first-child .table-cell-wrapper {
      border-start-start-radius: var(--radius-s);
    }
    tbody > tr:first-child > td:last-child,
    tbody > tr:first-child > td:last-child .table-cell-wrapper {
      border-start-end-radius: var(--radius-s);
    }
    tbody > tr:last-child > td:first-child,
    tbody > tr:last-child > td:first-child .table-cell-wrapper {
      border-end-start-radius: var(--radius-s);
    }
    tbody > tr:last-child > td:last-child,
    tbody > tr:last-child > td:last-child .table-cell-wrapper {
      border-end-end-radius: var(--radius-s);
    }
  }

  .cm-table-widget[dir="rtl"],
  .el-table[dir="rtl"],
  div[dir="rtl"] {
    tbody > tr > td:first-child,
    tbody > tr > td:first-child .table-cell-wrapper {
      border-inline-end: var(--table-border-width) solid var(--table-border-color);
    }
    tbody > tr > td:last-child,
    tbody > tr > td:last-child .table-cell-wrapper {
      border-right: none;
    }
    tbody > tr:first-child > td:last-child,
    tbody > tr:first-child > td:last-child .table-cell-wrapper {
      border-start-end-radius: 0;
      border-start-start-radius: var(--radius-s);
    }
    tbody > tr:last-child > td:last-child,
    tbody > tr:last-child > td:last-child .table-cell-wrapper {
      border-end-end-radius: 0;
      border-end-start-radius: var(--radius-s);
    }
  }

  .cm-html-embed th,
  .markdown-rendered th,
  .cm-html-embed td,
  .markdown-rendered td,
  .markdown-source-view.mod-cm6 .cm-table-widget .table-cell-wrapper {
    padding: 8px;
  }
  .cm-html-embed th,
  .markdown-rendered th {
    text-align: var(--table-text-align-header);
  }
  .cm-html-embed td,
  .markdown-rendered td {
    text-align: var(--table-text-align-body);
  }
}

.dataview {
  &.table-view-table {
    &::before {
      border: none;
    }

    tr:first-child > td {
      border-top: none;
    }
  }

  &.table-view-table > thead > tr > th {
    border-bottom: none;
    font-weight: var(--table-header-weight);
    font-size: var(--table-header-size);
  }

  &.table-view-table > tbody > tr:not(:only-child) > td {
    max-width: 20em;
    text-wrap: nowrap;

    &:hover {
      text-wrap: wrap;
      word-break: break-word;
    }
  }

  &.dataview-error-box {
    border: none;
    border-radius: var(--radius-s);
    background-color: var(--background-secondary);
    min-height: 80px;
  }
}
