body.theme-light {
  --frame-background-h: var(--accent-h);
  --frame-background-s: var(--accent-s);
  --frame-background-l: calc(var(--accent-l) + 30%);
  --frame-muted-color: hsl(var(--frame-background-h), calc(var(--frame-background-s) - 10%), calc(var(--frame-background-l) - 30%));
}
body.theme-dark {
  --frame-background-h: var(--accent-h);
  --frame-background-s: var(--accent-s);
  --frame-background-l: calc(var(--accent-l) - 25%);
  --frame-muted-color: hsl(var(--frame-background-h), calc(var(--frame-background-s) - 10%), calc(var(--frame-background-l) + 40%));
}

body.colorful-frame {
  .app-container {
    background-color: hsl(var(--frame-background-h), var(--frame-background-s), var(--frame-background-l));
  }

  .workspace,
  .workspace-split,
  .workspace-leaf,
  .workspace-tab-header-container,
  .status-bar {
    background-color: transparent !important;
  }

  .mod-sidedock .workspace-tab-header,
  .workspace-tab-header-container {
    --icon-color: var(--frame-muted-color);
    --tab-text-color: var(--frame-muted-color);
    --tab-text-color-focused: var(--frame-muted-color);
  }

  .workspace-leaf-resize-handle {
    --divider-color: rgba(0, 0, 0, 0.1);
  }
}
