body:not(.block-width-off) {
  --file-line-width: var(--line-width);
  --line-width: 40rem;
  --line-width-wide: 50rem;
  --max-width: 90%;

  &:is(.wide, .table-wide, .img-wide, .iframe-wide, .map-wide, .chart-wide, .bases-wide),
  div:is(.wide, .table-wide, .img-wide, .iframe-wide, .map-wide, .chart-wide, .bases-wide) {
    --file-line-width: var(--line-width-wide);
  }
  &:is(.max, .table-max, .img-max, .iframe-max, .map-max, .chart-max, .bases-max),
  div:is(.max, .table-max, .img-max, .iframe-max, .map-max, .chart-max, .bases-max) {
    --file-line-width: var(--max-width);

    &.markdown-preview-view,
    .markdown-preview-view {
      padding: var(--file-margins) 0;
    }
  }
  &:is(.table-100, .img-100, .iframe-100, .map-100, .chart-100, .bases-100),
  div:is(.table-100, .img-100, .iframe-100, .map-100, .chart-100, .bases-100) {
    --file-line-width: 100%;

    &.markdown-preview-view,
    .markdown-preview-view {
      padding: var(--file-margins) 0;
    }
  }

  // Fix content centering
  .markdown-preview-sizer > div {
    margin: 0 auto;
  }
  .markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer {
    max-width: var(--line-width);
  }

  // Fix image width
  .cm-contentContainer > .cm-content > img {
    width: revert-layer !important;
  }
}

// Table
.table-wide {
  --table-line-width: var(--line-width-wide);
}
.table-max {
  --table-line-width: var(--max-width);
}
body:not(.block-width-off).table-100,
body:not(.block-width-off) .table-100 {
  --table-line-width: 100%;

  .markdown-preview-sizer {
    tbody > tr > td {
      border-radius: 0 !important;
    }
    tbody tr:first-child > td {
      border-block-start-width: 0;
    }
    tbody tr > td:last-child {
      border-inline-end-width: 0;
    }
    tbody tr > td:first-child {
      border-inline-start-width: 0;
    }
    tbody tr:last-child > td {
      border-block-end-width: 0;
    }
  }
}
body:not(.block-width-off):is(.table-wide, .table-max, .table-100),
body:not(.block-width-off) div:is(.table-wide, .table-max, .table-100) {
  .markdown-preview-sizer > div.el-table:is(.el-table)[dir] {
    max-width: var(--table-line-width) !important;
    width: var(--table-line-width) !important;
  }
  .markdown-preview-sizer > div:not(.el-table) {
    max-width: var(--line-width) !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: calc(100% - var(--file-margins) * 2);
  }
}

// Image
.img-wide {
  --img-line-width: var(--line-width-wide);
}
.img-max {
  --img-line-width: var(--max-width);
}
.img-100 {
  --img-line-width: 100%;
}
body:not(.block-width-off):is(.img-wide, .img-max, .img-100),
body:not(.block-width-off) div:is(.img-wide, .img-max, .img-100) {
  .markdown-preview-sizer > div.el-p:has(img[src]):is(.el-p:has(img[src])) {
    max-width: var(--img-line-width) !important;
    width: var(--img-line-width) !important;
  }
  .markdown-preview-sizer > div:not(.el-p:has(img)) {
    max-width: var(--line-width) !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: calc(100% - var(--file-margins) * 2);
  }
}

// iframe
.iframe-wide {
  --iframe-line-width: var(--line-width-wide);
}
.iframe-max {
  --iframe-line-width: var(--max-width);
}
.iframe-100 {
  --iframe-line-width: 100%;
}
body:not(.block-width-off):is(.iframe-wide, .iframe-max, .iframe-100),
body:not(.block-width-off) div:is(.iframe-wide, .iframe-max, .iframe-100) {
  .markdown-preview-sizer > div.el-p:has(iframe[src]):is(.el-p:has(iframe[src])) {
    max-width: var(--iframe-line-width) !important;
    width: var(--iframe-line-width) !important;
  }
  .markdown-preview-sizer > div:not(.el-p:has(iframe)) {
    max-width: var(--line-width) !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: calc(100% - var(--file-margins) * 2);
  }
}

// Map
.map-wide {
  --map-line-width: var(--line-width-wide);
}
.map-max {
  --map-line-width: var(--max-width);
}
.map-100 {
  --map-line-width: 100%;
}
body:not(.block-width-off):is(.map-wide, .map-max, .map-100),
body:not(.block-width-off) div:is(.map-wide, .map-max, .map-100) {
  .markdown-preview-sizer > div.el-pre:has(.block-language-leaflet[style]):is(.el-pre:has(.block-language-leaflet[style])) {
    max-width: var(--map-line-width) !important;
    width: var(--map-line-width) !important;
  }
  .markdown-preview-sizer > div:not(.el-pre:has(.block-language-leaflet)) {
    max-width: var(--line-width) !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: calc(100% - var(--file-margins) * 2);
  }
}

// Chart
.chart-wide {
  --chart-line-width: var(--line-width-wide);
}
.chart-max {
  --chart-line-width: var(--max-width);
}
.chart-100 {
  --chart-line-width: 100%;
}
body:not(.block-width-off):is(.chart-wide, .chart-max, .chart-100),
body:not(.block-width-off) div:is(.chart-wide, .chart-max, .chart-100) {
  .markdown-preview-sizer > div.el-pre:has(.block-language-chart[style]):is(.el-pre:has(.block-language-chart[style])) {
    max-width: var(--chart-line-width) !important;
    width: var(--chart-line-width) !important;
  }
  .markdown-preview-sizer > div:not(.el-pre:has(.block-language-chart)) {
    max-width: var(--line-width) !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: calc(100% - var(--file-margins) * 2);
  }
}

// Bases
.bases-wide {
  --bases-line-width: var(--line-width-wide);
}
.bases-max {
  --bases-line-width: var(--max-width);
}
body:not(.block-width-off).bases-100,
body:not(.block-width-off) .bases-100 {
  --bases-line-width: 100%;

  .markdown-preview-sizer .bases-embed .bases-view .bases-tbody {
    border: none;
    border-radius: 0;
  }
}
body:not(.block-width-off):is(.bases-wide, .bases-max, .bases-100),
body:not(.block-width-off) div:is(.bases-wide, .bases-max, .bases-100) {
  .markdown-preview-sizer > div.el-p:has(.bases-view):is(.el-p:has(.bases-view)) {
    max-width: var(--bases-line-width) !important;
    width: var(--bases-line-width) !important;
  }
  .markdown-preview-sizer > div:not(.el-p:has(.bases-view)) {
    max-width: var(--line-width) !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: calc(100% - var(--file-margins) * 2);
  }
}
