body.colorful-frame:not(.is-mobile) {
  &:not(.stacked-nav-off) .mod-top-left-space .workspace-tab-header-container-inner {
    padding-top: 8px;
  }
  &.layout-cupertino .workspace-tab-header-container::before {
    height: calc(var(--header-height) - 1px);
  }

  .workspace-ribbon .side-dock-actions,
  .mod-sidedock .workspace-leaf-content > .nav-header,
  .mod-sidedock .workspace-leaf-content > .view-content > div:not(.nav-buttons-container):not(.graph-controls) {
    padding-top: 8px;
    padding-bottom: 0;
  }

  .workspace-ribbon::before,
  .workspace-tabs.mod-top .workspace-tab-header-container::before {
    content: "";
    position: absolute;
    height: var(--header-height);
    inset: 0 0 auto;
    background-color: var(--color-accent) !important;
    pointer-events: none;
  }

  .workspace-tab-header-container > div {
    z-index: 1;
  }
  .workspace-tab-header:not(.is-active) {
    --icon-opacity: 0.5;
  }

  &:not(.theme-light.contrast-light-vivid) {
    .workspace-tab-header-container > div:not(body:not(.stacked-nav-off) .workspace-tab-header-container-inner),
    .workspace-tab-header-container-inner:not(body:not(.stacked-nav-off) .workspace-tabs.mod-top-left-space .workspace-tab-header-container-inner),
    .workspace .mod-sidedock .workspace-tab-header:not(body:not(.stacked-nav-off) .workspace-tabs.mod-top-left-space .workspace-tab-header) {
      --icon-color: var(--text-on-accent);
      --icon-color-hover: var(--text-on-accent);
      --icon-color-focused: var(--text-on-accent);
    }
  }
  &.theme-light.contrast-light-vivid {
    .workspace-tab-header-container > div:not(body:not(.stacked-nav-off) .workspace-tab-header-container-inner),
    .workspace-tab-header-container-inner:not(body:not(.stacked-nav-off) .workspace-tabs.mod-top-left-space .workspace-tab-header-container-inner),
    .workspace .mod-sidedock .workspace-tab-header:not(body:not(.stacked-nav-off) .workspace-tabs.mod-top-left-space .workspace-tab-header) {
      --icon-color: var(--text-on-accent-inverted);
      --icon-color-hover: var(--text-on-accent-inverted);
      --icon-color-focused: var(--text-on-accent-inverted);
    }
  }
}
