body:is(.focus-view-tabs, .focus-view-all):not(.is-popout-window) .workspace:not(.is-left-sidedock-open):not(.is-right-sidedock-open) .mod-root {
  .workspace-tab-header-container,
  .workspace-tab-header-container-inner,
  .workspace-tab-header-spacer {
    -webkit-app-region: no-drag;
  }
  .workspace-tab-header-container:not(:hover) {
    height: 1px;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .workspace-tab-container {
    background-color: var(--background-primary);
  }
  .workspace-tab-container .view-header {
    margin-left: var(--frame-left-space);
    margin-right: var(--frame-right-space);
  }
}

body.focus-view-all:not(.is-popout-window) .workspace:not(.is-left-sidedock-open):not(.is-right-sidedock-open) .mod-root {
  .workspace-tab-container .view-header {
    position: absolute;
    left: var(--frame-left-space);
    right: var(--frame-right-space);
    margin: 0;
    background-color: transparent;
    transition: var(--anim-duration-moderate) var(--anim-motion-baseline);

    &:not(:hover) {
      opacity: 0;
    }
  }

  // Content pusher
  .workspace-tab-container .view-content > .markdown-reading-view > div:first-child,
  .workspace-tab-container .view-content > .markdown-source-view > .cm-editor > .cm-scroller {
    padding-top: calc(var(--file-margins) + var(--header-height)) !important;
  }
}
