.mod-sidedock.mod-left-split .mod-top-left-space {
  --sidebar-tab-text-display: flex;

  .workspace-tab-header-container {
    height: fit-content;
    flex-direction: column;
  }
  .workspace-tab-header-container-inner {
    flex-direction: column;
    width: 100%;
  }
  .workspace-tab-header {
    padding: 8px;
  }
  .workspace-tab-header-inner {
    gap: 8px;
    padding: 0;
    border-radius: 0;
  }
  .workspace-tab-header-inner:hover {
    color: var(--icon-color-hover);
  }

  .sidebar-toggle-button {
    order: -1;
    margin-left: auto;
  }
}
