body.layout-classic:not(.is-mobile) {
  &:not(.colorful-frame) {
    --tab-outline-width: var(--border-width);
  }

  &.theme-light.contrast-light-vivid .mod-root {
    --tab-outline-width: 0;
  }

  &.status-bar-full {
    --status-bar-border-width: 1px 0 0 0;
  }

  // Side panels
  &:not(.stacked-nav-off) .mod-sidedock.mod-left-split {
    .workspace-leaf-content > .nav-header,
    .workspace-leaf-content > .view-content > div:not(.nav-buttons-container):not(.graph-controls) {
      padding-top: 0;
      padding-bottom: 8px;
    }

    .mod-top-left-space {
      .workspace-tab-header-container {
        border-bottom: none;
      }
      .workspace-tab-header-container-inner {
        overflow: visible;
        position: relative;
        padding-top: 8px;
      }
      .sidebar-toggle-button::after {
        height: var(--tab-outline-width);
        background-color: var(--tab-outline-color);
        content: "";
        position: absolute;
        inset: auto -100vw -8px;
      }
    }
  }
  .mod-sidedock {
    & > .workspace-leaf-resize-handle {
      border-color: var(--background-modifier-hover);
    }
    .workspace-leaf-content > .nav-header,
    .workspace-leaf-content > .view-content > div:not(.nav-buttons-container):not(.graph-controls) {
      padding-top: 8px;
      padding-bottom: 0;
    }
  }

  // Editor panel
  &:not(.tabs-floating, .tabs-underline, .theme-light.contrast-light-vivid, .colorful-frame) .mod-root .workspace-tab-header-container-inner {
    padding-top: 1px;
    margin-bottom: -1px;
  }
  .mod-root {
    background-color: var(--background-secondary);

    .workspace-tabs .workspace-tab-container {
      border-radius: 0;
    }
  }
}

body.layout-cards:not(.is-mobile) {
  &:not(.status-bar-full) .workspace-split {
    padding-bottom: 8px;
  }
  &:not(.status-bar-default, .status-bar-full) .status-bar {
    bottom: 8px;
    right: 8px;
  }

  // Side panels
  &.show-ribbon .mod-sidedock.mod-left-split {
    .workspace-tabs .workspace-tab-container {
      margin-left: 0;
    }
  }
  &.show-ribbon:not(.stacked-nav-off) {
    .mod-top-left-space .workspace-tab-header-container {
      padding-left: 0;
    }
  }
  &:not(.stacked-nav-off) .mod-sidedock.mod-left-split .mod-top-left-space {
    .workspace-tab-header-container-inner {
      padding: 12px 16px;
      background-color: var(--background-primary);
      border-radius: var(--radius-l);
    }
  }

  .mod-sidedock {
    & .workspace-leaf-resize-handle:not(:hover) {
      border-color: transparent;
    }

    .workspace-tabs {
      overflow: visible;
    }
    .workspace-tabs .workspace-tab-container {
      margin: 0 8px;
      background-color: var(--background-primary);
      border-radius: var(--radius-l);
    }
    .workspace-tabs .workspace-leaf {
      background-color: transparent;
    }
    .workspace-leaf-content > .nav-header,
    .workspace-leaf-content > .view-content > div:not(.nav-buttons-container):not(.graph-controls) {
      padding-top: 8px;
      padding-bottom: 0;
    }

    .workspace-sidedock-vault-profile {
      padding: 16px;
    }
  }

  .workspace.is-left-sidedock-open .mod-root .workspace-tab-header-container-inner {
    padding-left: calc(var(--radius-l) + 8px);
  }
  &.tabs-underline .workspace.is-left-sidedock-open .mod-root .workspace-tab-header-container-inner {
    padding-left: var(--radius-l);
  }
  &.tabs-floating .workspace.is-left-sidedock-open .mod-root .workspace-tab-header-container-inner {
    padding-left: calc(var(--radius-l) / 2);
  }

  // Editor panel
  .workspace:not(.is-left-sidedock-open) .mod-root {
    padding-left: 8px;
  }
  .workspace:not(.is-right-sidedock-open) .mod-root {
    padding-right: 8px;
  }
  .mod-root .workspace-tabs .workspace-tab-container {
    border-radius: var(--radius-l);
  }
}

body.layout-border:not(.is-mobile),
body.layout-border.is-translucent:not(.is-fullscreen):not(.is-mobile) {
  &:not(.status-bar-full) .workspace-split {
    padding-bottom: 8px;
  }
  &:not(.status-bar-default, .status-bar-full) .status-bar {
    bottom: 8px;
    right: 8px;
  }

  // Side panels
  &.show-ribbon .mod-sidedock.mod-left-split {
    .workspace-tabs .workspace-tab-container {
      margin-left: 0;
    }
  }
  &.show-ribbon:not(.stacked-nav-off) {
    .mod-top-left-space .workspace-tab-header-container {
      padding-left: 0;
    }
  }
  &:not(.stacked-nav-off) .mod-sidedock.mod-left-split .mod-top-left-space {
    .workspace-tab-header-container {
      margin-right: -8px;
      margin-bottom: -8px;
    }
    .workspace-tab-header-container-inner {
      padding-top: 12px;
      padding-left: 16px;
      background-color: var(--background-primary);
      border-top-left-radius: var(--radius-l);
    }
    .sidebar-toggle-button {
      margin-right: 8px;
    }
    &.workspace-tabs .workspace-tab-container {
      border-top-left-radius: 0;
    }
  }

  .mod-sidedock {
    .workspace-tabs .workspace-leaf {
      background-color: var(--background-primary) !important;
    }
    .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
      background-color: var(--background-primary) !important;
    }
    .workspace-leaf-resize-handle {
      border-color: var(--background-modifier-hover);
    }
    > .workspace-leaf-resize-handle {
      top: var(--header-height);
      bottom: 8px;
      height: unset;
    }
    &.mod-horizontal > * > .workspace-leaf-resize-handle {
      width: -webkit-fill-available;
    }
    .workspace-leaf-content > .nav-header,
    .workspace-leaf-content > .view-content > div:not(.nav-buttons-container):not(.graph-controls) {
      padding-top: 8px;
      padding-bottom: 0;
    }

    .workspace-sidedock-vault-profile {
      padding-bottom: 16px;
    }
  }

  &:not(.mod-macos, .stacked-nav-off).show-ribbon .mod-sidedock.mod-left-split .mod-top-left-space {
    .workspace-tab-header-container-inner {
      margin-top: calc(var(--header-height) - 8px);
    }
  }

  .mod-sidedock.mod-left-split {
    .workspace-tabs .workspace-tab-container {
      margin-left: 8px;
    }
    .workspace-tabs.mod-top .workspace-tab-container {
      border-top-left-radius: var(--radius-l);
    }
    .workspace-tabs:last-child .workspace-tab-container {
      border-bottom-left-radius: var(--radius-l);
    }
    .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
      margin-left: 8px;
    }
    .workspace-leaf-resize-handle {
      margin-left: 8px;
    }
  }

  .mod-sidedock.mod-right-split {
    .workspace-tabs .workspace-tab-container {
      margin-right: 8px;
    }
    .workspace-tabs.mod-top .workspace-tab-container {
      border-top-right-radius: var(--radius-l);
    }
    .workspace-tabs:last-child .workspace-tab-container {
      border-bottom-right-radius: var(--radius-l);
    }
    .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
      margin-right: 8px;
    }
    .workspace-leaf-resize-handle {
      margin-right: 8px;
    }
  }

  // Editor panel
  .mod-root .workspace-tabs .workspace-tab-container {
    border-radius: 0;
  }
  .workspace:not(.is-left-sidedock-open) .mod-root {
    padding-left: 8px;

    .workspace-tab-container {
      border-top-left-radius: var(--radius-l);
      border-bottom-left-radius: var(--radius-l);
    }
  }
  .workspace:not(.is-right-sidedock-open) .mod-root {
    padding-right: 8px;

    .workspace-tab-container {
      border-top-right-radius: var(--radius-l);
      border-bottom-right-radius: var(--radius-l);
    }
  }
}

body.layout-frame:not(.is-mobile) {
  .workspace {
    padding: 4px;
    background-color: var(--background-secondary);
  }
  .workspace::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--background-secondary);
  }
  .workspace-ribbon,
  .workspace-split {
    margin: 4px;
    height: unset;
    background-color: var(--background-primary);
    border-radius: var(--radius-s);
    border: var(--border-width) solid var(--background-modifier-border);
    overflow: hidden;
  }
  &.theme-light.contrast-light-vivid .workspace-ribbon,
  &.theme-light.contrast-light-vivid .workspace-split {
    border-color: #424242;
  }
  .workspace-tabs .workspace-leaf {
    background-color: transparent;
  }
  .status-bar {
    right: 8px;
    bottom: 8px;
  }
  .status-bar::before {
    border-bottom-right-radius: var(--radius-s);
  }

  // Windows & Linux
  &.is-frameless.is-hidden-frameless .titlebar {
    height: var(--header-height);
    top: 8px;
    right: 8px;

    .titlebar-button-container.mod-right {
      border-top-right-radius: var(--radius-s);
      overflow: hidden;
    }
  }

  // Ribbon
  &.mod-macos .workspace-ribbon {
    --ribbon-width: calc(var(--header-height) + 28px);
  }

  // Side panels
  &.show-ribbon.stacked-nav-off .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container {
    padding-left: 0;
  }

  .workspace-split.mod-left-split > .workspace-leaf-resize-handle {
    right: -6px;
  }
  .workspace-split.mod-right-split > .workspace-leaf-resize-handle {
    left: -6px;
  }

  // Editor panel
  &:not(.tabs-floating, .tabs-underline, .theme-light.contrast-light-vivid, .colorful-frame) .mod-root {
    --tab-outline-width: var(--border-width);

    .workspace-tab-header-container-inner {
      padding-top: 1px;
      margin-bottom: -1px;
    }
  }
  &.theme-light.contrast-light-vivid .mod-root .workspace-tab-header-container::before {
    background-color: var(--background-primary);
  }
  .mod-root {
    overflow: hidden;
  }
  .mod-root .workspace-tabs .workspace-tab-container {
    border-radius: 0;
  }
}

body.layout-cupertino:not(.is-mobile) {
  // Editor panel
  &:not(.tabs-floating, .tabs-underline, .theme-light.contrast-light-vivid) .mod-root {
    .workspace-tab-header-container-inner {
      --tab-outline-width: var(--border-width);

      padding-top: 1px;
      margin-bottom: -1px;
    }
    .workspace-tab-container {
      outline: var(--border-width) solid var(--background-modifier-border);
    }
  }

  &.theme-light .mod-root .workspace-tab-container {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 24px 48px, rgba(0, 0, 0, 0.02) 0px 4px 16px;
  }
  &.theme-dark .mod-root .workspace-tab-container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 24px 48px, rgba(0, 0, 0, 0.12) 0px 4px 16px;
  }

  &:not(.status-bar-full) .mod-root .workspace-tab-container {
    margin-bottom: 8px;
  }

  .mod-root {
    z-index: 1;

    .workspace-tabs,
    .workspace-tab-container {
      overflow: visible;
    }

    .workspace-tab-container {
      overflow: visible;
    }
    .workspace-leaf {
      border-radius: var(--radius-s);
    }
  }
}

body.layout-macos:not(.is-mobile) {
  --nav-collapse-icon-color: rgb(var(--mono-rgb-100));

  &.nav-item-subtle {
    --nav-item-color: rgb(var(--mono-rgb-100));
    --nav-item-color-active: var(--text-accent);

    &.theme-dark {
      --nav-item-background-active: rgba(0, 0, 0, 0.5);
    }
  }

  .workspace-tabs .workspace-leaf {
    background-color: transparent;
  }

  &.is-translucent .mod-root {
    background-color: var(--background-primary) !important;
  }
  &:not(.is-translucent) .app-container {
    background-color: var(--background-primary);
    .mod-root {
      background-color: transparent;
    }
  }

  &:not(.is-focused) .mod-sidedock {
    background-color: var(--color-base-20) !important;
    box-shadow: none !important;
  }
  &:not(.is-translucent) .mod-sidedock {
    background-color: color-mix(in srgb, var(--background-primary) 98%, var(--color-accent));
  }

  &.is-fullscreen .mod-sidedock.mod-left-split {
    border-radius: var(--radius-m);
  }
  &.theme-light .mod-sidedock.mod-left-split {
    outline: var(--border-width) solid white;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05), 0 4px 32px rgba(0, 0, 0, 0.05), -32px 0px 0 32px var(--background-primary);
  }
  &.theme-dark .mod-sidedock.mod-left-split {
    outline: var(--border-width) solid var(--background-modifier-border);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25), -32px 0px 0 32px var(--background-primary);
  }
  .mod-sidedock.mod-left-split {
    z-index: var(--layer-sidedock);
    border-radius: var(--radius-m);
    display: flex !important;
    margin: 8px 0 8px 8px;
    height: -webkit-fill-available;

    .workspace-tab-header-container {
      gap: 16px;
    }
    .workspace-tab-header-container-inner {
      padding: 0;
    }
    .mod-sidedock .workspace-leaf-content > .nav-header {
      padding: 0 8px 8px;
    }
    .workspace-leaf-content > .node-insert-event,
    .workspace-leaf-content > .view-content {
      padding: 2px 8px 0;
    }
  }
  &.stacked-nav-off .mod-sidedock.mod-left-split {
    .mod-top-left-space .workspace-tab-header-container {
      height: calc(var(--header-height) - 16px);
      padding: 4px 4px 4px calc(var(--frame-left-space) - 8px);
    }
    .workspace-leaf-content > .nav-header {
      padding-top: 8px;
    }
  }
  &:not(.stacked-nav-off) .mod-sidedock.mod-left-split {
    .mod-top-left-space .sidebar-toggle-button {
      height: 16px;
      align-items: center;
      margin-right: -4px;
    }
    .mod-top-left-space .sidebar-toggle-button .clickable-icon {
      height: calc(var(--header-height) - 24px);
    }
  }

  .mod-sidedock.mod-right-split > .workspace-leaf-resize-handle {
    border-inline-start: var(--divider-width) solid var(--divider-color);
  }
}
