body.layout-cards:not(.is-mobile) {
  .workspace-split {
    padding-bottom: 8px;
  }

  .workspace.is-left-sidedock-open .workspace-split.mod-root .workspace-tab-header-container-inner {
    padding-left: 24px;
  }

  .workspace-split.mod-root .workspace-tabs .workspace-tab-container {
    border-radius: var(--radius-l);
  }

  &:not(.compact-status-bar-off) .status-bar {
    bottom: 8px;
    right: 8px;
  }

  &:not(.labeled-nav-off) .mod-sidedock.mod-left-split .mod-top-left-space {
    .workspace-tab-header-container-inner {
      margin-top: 4px;
      padding: 8px;
      background-color: var(--background-primary);
      border-radius: var(--radius-l);
    }
  }

  .workspace:not(.is-left-sidedock-open) .workspace-split.mod-root {
    padding-left: 8px;
  }
  .workspace:not(.is-right-sidedock-open) .workspace-split.mod-root {
    padding-right: 8px;
  }

  .workspace-split.mod-sidedock {
    .workspace-tabs {
      overflow: visible;
    }
    .workspace-tabs .workspace-tab-container {
      margin: 0 8px;
      background-color: var(--background-primary);
      border-radius: var(--radius-l);
    }
    .workspace-tabs .workspace-leaf {
      background-color: transparent;
    }
    .workspace-leaf-resize-handle:not(:hover) {
      opacity: 0;
    }
    .workspace-leaf-content > .nav-header,
    .workspace-leaf-content > .view-content > div:not(.nav-buttons-container):not(.graph-controls) {
      padding-top: 8px;
      padding-bottom: 0;
    }

    .workspace-sidedock-vault-profile {
      padding: 16px;
    }
  }
}

body.layout-border:not(.is-mobile) {
  .workspace-split {
    padding-bottom: 8px;
  }

  .workspace-split.mod-root .workspace-tabs .workspace-tab-container {
    border-radius: 0;
  }

  &:not(.compact-status-bar-off) .status-bar {
    bottom: 8px;
    right: 8px;
  }

  &:not(.labeled-nav-off) .workspace-split.mod-sidedock.mod-left-split .mod-top-left-space {
    .workspace-tab-header-container {
      margin-right: -8px;
      margin-bottom: -8px;
    }
    .workspace-tab-header-container-inner {
      margin-top: 4px;
      padding-top: 8px;
      background-color: var(--background-primary);
      border-top-left-radius: var(--radius-l);
    }
    &.workspace-tabs .workspace-leaf {
      border-top-left-radius: 0;
    }
  }

  &.show-ribbon:not(.labeled-nav-off) .workspace-split.mod-sidedock.mod-left-split .mod-top-left-space {
    .workspace-tab-header-container-inner {
      margin-top: calc(var(--header-height) - 8px);
    }
  }

  .workspace:not(.is-left-sidedock-open) .workspace-split.mod-root {
    padding-left: 8px;

    .workspace-tab-container {
      border-top-left-radius: var(--radius-l);
      border-bottom-left-radius: var(--radius-l);
    }
  }
  .workspace:not(.is-right-sidedock-open) .workspace-split.mod-root {
    padding-right: 8px;

    .workspace-tab-container {
      border-top-right-radius: var(--radius-l);
      border-bottom-right-radius: var(--radius-l);
    }
  }

  .workspace-split.mod-sidedock {
    .workspace-tabs .workspace-leaf {
      background-color: var(--background-primary);
    }
    .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
      background-color: var(--background-primary);
    }
    .workspace-leaf-resize-handle {
      border-color: var(--background-modifier-hover) !important;
    }
    > .workspace-leaf-resize-handle {
      top: var(--header-height);
      bottom: 8px;
      height: unset;
    }
    &.mod-horizontal > * > .workspace-leaf-resize-handle {
      width: -webkit-fill-available;
    }
    .workspace-leaf-content > .nav-header,
    .workspace-leaf-content > .view-content > div:not(.nav-buttons-container) {
      padding-top: 8px;
      padding-bottom: 0;
    }

    .workspace-sidedock-vault-profile {
      padding-bottom: 16px;
    }
  }

  .workspace-split.mod-sidedock.mod-left-split {
    .workspace-tabs .workspace-leaf {
      margin-left: 8px;
    }
    .workspace-tabs.mod-top .workspace-leaf {
      border-top-left-radius: var(--radius-l);
    }
    .workspace-tabs:last-child .workspace-leaf {
      border-bottom-left-radius: var(--radius-l);
    }
    .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
      margin-left: 8px;
    }
    .workspace-leaf-resize-handle {
      margin-left: 8px;
    }
  }

  .workspace-split.mod-sidedock.mod-right-split {
    .workspace-tabs .workspace-leaf {
      margin-right: 8px;
    }
    .workspace-tabs.mod-top .workspace-leaf {
      border-top-right-radius: var(--radius-l);
    }
    .workspace-tabs:last-child .workspace-leaf {
      border-bottom-right-radius: var(--radius-l);
    }
    .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
      margin-right: 8px;
    }
    .workspace-leaf-resize-handle {
      margin-right: 8px;
    }
  }
}
