body.layout-classic:not(.is-mobile) {
  --tab-outline-width: var(--border-width);

  &.status-bar-full {
    --status-bar-border-width: 1px 0 0 0;
  }

  // Side panels
  &:not(.labeled-nav-off) .mod-sidedock.mod-left-split {
    .workspace-leaf-content > .nav-header,
    .workspace-leaf-content > .view-content > div:not(.nav-buttons-container):not(.graph-controls) {
      padding-top: 0;
      padding-bottom: 8px;
    }

    .mod-top-left-space {
      .workspace-tab-header-container {
        border-bottom: none;
      }
      .workspace-tab-header-container-inner {
        overflow: visible;
        position: relative;
        padding-top: 8px;
      }
      .sidebar-toggle-button::after {
        height: var(--tab-outline-width);
        background-color: var(--tab-outline-color);
        content: "";
        position: absolute;
        inset: auto -100vw -8px;
      }
    }
  }
  .mod-sidedock {
    & > .workspace-leaf-resize-handle {
      height: calc(100% - var(--header-height));
      border-color: var(--background-modifier-hover);
    }
    .workspace-leaf-content > .nav-header,
    .workspace-leaf-content > .view-content > div:not(.nav-buttons-container):not(.graph-controls) {
      padding-top: 8px;
      padding-bottom: 0;
    }
  }

  &:not(.tabs-floating, .tabs-underline) .mod-root .workspace-tab-header-container-inner {
    padding-top: 1px;
    margin-bottom: -1px;
  }
  .mod-root {
    background-color: var(--background-secondary);

    .workspace-tabs .workspace-tab-container {
      border-radius: 0;
    }
  }
}

body.layout-cards:not(.is-mobile) {
  &:not(.status-bar-full) .workspace-split {
    padding-bottom: 8px;
  }
  &:not(.status-bar-default, .status-bar-full) .status-bar {
    bottom: 8px;
    right: 8px;
  }

  // Side panels
  &.show-ribbon .mod-sidedock.mod-left-split {
    .mod-top-left-space .workspace-tab-header-container {
      padding-left: 0;
    }
    .workspace-tabs .workspace-tab-container {
      margin-left: 0;
    }
  }
  &:not(.labeled-nav-off) .mod-sidedock.mod-left-split .mod-top-left-space {
    .workspace-tab-header-container-inner {
      padding: 12px 16px;
      background-color: var(--background-primary);
      border-radius: var(--radius-l);
    }
  }

  .mod-sidedock {
    & .workspace-leaf-resize-handle:not(:hover) {
      border-color: transparent;
    }

    .workspace-tabs {
      overflow: visible;
    }
    .workspace-tabs .workspace-tab-container {
      margin: 0 8px;
      background-color: var(--background-primary);
      border-radius: var(--radius-l);
    }
    .workspace-tabs .workspace-leaf {
      background-color: transparent;
    }
    .workspace-leaf-content > .nav-header,
    .workspace-leaf-content > .view-content > div:not(.nav-buttons-container):not(.graph-controls) {
      padding-top: 8px;
      padding-bottom: 0;
    }

    .workspace-sidedock-vault-profile {
      padding: 16px;
    }
  }

  .workspace.is-left-sidedock-open .mod-root .workspace-tab-header-container-inner {
    padding-left: calc(var(--radius-l) + 8px);
  }
  &.tabs-underline .workspace.is-left-sidedock-open .mod-root .workspace-tab-header-container-inner {
    padding-left: var(--radius-l);
  }
  &.tabs-floating .workspace.is-left-sidedock-open .mod-root .workspace-tab-header-container-inner {
    padding-left: calc(var(--radius-l) / 2);
  }

  // Editor panel
  .workspace:not(.is-left-sidedock-open) .mod-root {
    padding-left: 8px;
  }
  .workspace:not(.is-right-sidedock-open) .mod-root {
    padding-right: 8px;
  }
  .mod-root .workspace-tabs .workspace-tab-container {
    border-radius: var(--radius-l);
  }
}

body.layout-border:not(.is-mobile),
body.layout-border.is-translucent:not(.is-fullscreen):not(.is-mobile) {
  &:not(.status-bar-full) .workspace-split {
    padding-bottom: 8px;
  }
  &:not(.status-bar-default, .status-bar-full) .status-bar {
    bottom: 8px;
    right: 8px;
  }

  // Side panels
  &.show-ribbon .mod-sidedock.mod-left-split {
    .mod-top-left-space .workspace-tab-header-container {
      padding-left: 0;
    }
    .workspace-tabs .workspace-tab-container {
      margin-left: 0;
    }
  }
  &:not(.labeled-nav-off) .mod-sidedock.mod-left-split .mod-top-left-space {
    .workspace-tab-header-container {
      margin-right: -8px;
      margin-bottom: -8px;
    }
    .workspace-tab-header-container-inner {
      padding-top: 12px;
      padding-left: 16px;
      background-color: var(--background-primary);
      border-top-left-radius: var(--radius-l);
    }
    .sidebar-toggle-button {
      margin-right: 8px;
    }
    &.workspace-tabs .workspace-tab-container {
      border-top-left-radius: 0;
    }
  }

  .mod-sidedock {
    .workspace-tabs .workspace-leaf {
      background-color: var(--background-primary) !important;
    }
    .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
      background-color: var(--background-primary) !important;
    }
    .workspace-leaf-resize-handle {
      border-color: var(--background-modifier-hover);
    }
    > .workspace-leaf-resize-handle {
      top: var(--header-height);
      bottom: 8px;
      height: unset;
    }
    &.mod-horizontal > * > .workspace-leaf-resize-handle {
      width: -webkit-fill-available;
    }
    .workspace-leaf-content > .nav-header,
    .workspace-leaf-content > .view-content > div:not(.nav-buttons-container):not(.graph-controls) {
      padding-top: 8px;
      padding-bottom: 0;
    }

    .workspace-sidedock-vault-profile {
      padding-bottom: 16px;
    }
  }

  &:not(.mod-macos, .labeled-nav-off).show-ribbon .mod-sidedock.mod-left-split .mod-top-left-space {
    .workspace-tab-header-container-inner {
      margin-top: calc(var(--header-height) - 8px);
    }
  }

  .mod-sidedock.mod-left-split {
    .workspace-tabs .workspace-tab-container {
      margin-left: 8px;
    }
    .workspace-tabs.mod-top .workspace-tab-container {
      border-top-left-radius: var(--radius-l);
    }
    .workspace-tabs:last-child .workspace-tab-container {
      border-bottom-left-radius: var(--radius-l);
    }
    .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
      margin-left: 8px;
    }
    .workspace-leaf-resize-handle {
      margin-left: 8px;
    }
  }

  .mod-sidedock.mod-right-split {
    .workspace-tabs .workspace-tab-container {
      margin-right: 8px;
    }
    .workspace-tabs.mod-top .workspace-tab-container {
      border-top-right-radius: var(--radius-l);
    }
    .workspace-tabs:last-child .workspace-tab-container {
      border-bottom-right-radius: var(--radius-l);
    }
    .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
      margin-right: 8px;
    }
    .workspace-leaf-resize-handle {
      margin-right: 8px;
    }
  }

  // Editor panel
  .mod-root .workspace-tabs .workspace-tab-container {
    border-radius: 0;
  }
  .workspace:not(.is-left-sidedock-open) .mod-root {
    padding-left: 8px;

    .workspace-tab-container {
      border-top-left-radius: var(--radius-l);
      border-bottom-left-radius: var(--radius-l);
    }
  }
  .workspace:not(.is-right-sidedock-open) .mod-root {
    padding-right: 8px;

    .workspace-tab-container {
      border-top-right-radius: var(--radius-l);
      border-bottom-right-radius: var(--radius-l);
    }
  }
}
