body:not(.stacked-nav-off) .mod-sidedock.mod-left-split .mod-top-left-space {
  --sidebar-tab-text-display: flex;

  .workspace-tab-header-container {
    height: fit-content;
    flex-direction: column;
    padding-left: 8px;
    gap: 8px;
  }
  .workspace-tab-header-container-inner {
    flex-direction: column;
    width: 100%;
    gap: calc(4px * var(--density-modifier));
  }
  .workspace-tab-header {
    padding: 8px;
  }
  .workspace-tab-header-inner {
    gap: 8px;
    padding: 0;
    border-radius: 0;
  }
  .workspace-tab-header-inner:hover {
    color: var(--icon-color-hover);
  }
  .workspace-tab-header-spacer {
    display: none;
  }

  .sidebar-toggle-button {
    order: -1;
    margin-left: auto;
  }
  .sidebar-toggle-button .clickable-icon {
    height: calc(var(--header-height) - 16px);
  }
}

body.stacked-nav-off .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container {
  padding-left: var(--frame-left-space);
}

// Side panels: Tab names
body.tab-names-all {
  --sidebar-tab-text-display: flex;
}
body.tab-names-single .workspace-tab-header:only-child {
  --sidebar-tab-text-display: flex;
}
