body {
  --modal-background: var(--background-secondary);
  --modal-border-color: var(--background-modifier-border-hover);

  --prompt-border-color: var(--divider-color);
  --prompt-input-height: 64px;
}

body.is-mobile {
  --interactive-normal: var(--background-primary);

  --input-border-width: 1px;
}

body.is-tablet {
  --interactive-normal: var(--background-primary);

  --input-border-width: var(--divider-width);
}

body.is-phone {
  --prompt-input-height: 64px;
}

body:not(.is-phone) .modal-bg {
  opacity: 0 !important;
}

.modal-container {
  perspective: 240px;
}

.modal,
.prompt {
  transition: var(--anim-duration-moderate) var(--anim-motion-baseline);

  @starting-style {
    opacity: 0;
    filter: blur(4px);
    transform: scale(0.95) rotateX(-1deg);
  }
}

// Modal
.modal {
  .modal-title {
    font-size: var(--h1-size);
    font-family: var(--h1-font);
  }

  .modal-content .setting-item {
    padding: 8px 0;
  }
}
.modal-close-button {
  position: absolute;
  top: 8px;
  inset-inline-end: 8px !important;
  height: 32px;
  width: 32px;
  padding: 8px;
  color: var(--text-faint);
  display: flex;
  justify-content: center;
  line-height: 12px;
}

// Menu & suggestion
.menu,
.suggestion-container {
  @starting-style {
    opacity: 0;
    filter: blur(4px);
    transform: translateY(-8px);
  }
  transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
  padding: 0;

  .menu-scroll,
  .suggestion {
    padding: 4px;
  }

  .menu-item,
  .suggestion-item {
    padding: calc(6px * var(--density-modifier)) 8px;
    border-radius: calc(var(--radius-m) - 4px);
    margin-bottom: 0;
  }

  .menu-item-icon .svg-icon {
    --icon-size: var(--icon-xs);
  }

  .menu-separator {
    margin: 4px -4px;
  }

  .suggestion-item,
  .suggestion-empty {
    font-size: var(--font-ui-small);
  }
}

body.is-tablet .menu,
body.is-tablet .suggestion-container {
  border: 1px solid var(--background-modifier-border-hover);

  .menu-item {
    padding: 8px 12px;
  }
  .menu-item-icon .svg-icon {
    --icon-size: var(--icon-s);
  }
  .menu-item-title {
    max-width: 240px;
  }
}

body.is-phone .menu,
body.is-phone .suggestion-container {
  border-radius: var(--radius-xl) var(--radius-xl) 0 0;
  overflow: hidden;
  will-change: transform;

  @starting-style {
    opacity: 0;
    filter: none;
    transform: translateY(100%);
  }

  &[style*="transform: translateY"] {
    transition: none;
  }

  .menu-grabber {
    margin: 8px auto;
    position: absolute;
    inset: 0;
  }
  .menu-scroll {
    max-height: 80vh;
    padding: 32px 16px;
  }
  .menu-item {
    padding: 16px;
    font-size: var(--nav-item-size);
    gap: 16px;
  }
  .menu-separator {
    margin: 12px 16px;
  }
  .menu-item-icon .svg-icon {
    --icon-size: var(--icon-s);
  }
}

// Prompt
.prompt {
  background-color: var(--modal-background);

  .prompt-input,
  .prompt-input:hover,
  .prompt-input:focus,
  .prompt-input:focus-visible {
    background-color: transparent;
    border-bottom-color: var(--prompt-border-color);
  }

  .prompt-results {
    flex: 1;
  }
  .suggestion-item {
    padding: 12px;
  }
}

body.is-phone .suggestion-container {
  border-radius: var(--radius-m);
}

body.is-tablet .prompt {
  border: var(--prompt-border-width) solid var(--prompt-border-color);
}

body.is-phone .prompt {
  transition: none;
  border-radius: var(--radius-xl) var(--radius-xl) 0 0;

  .suggestion-item {
    padding: 16px;
  }
}

// Settings
.modal.mod-sidebar-layout {
  .vertical-tab-header {
    border-inline-end: none;
  }
  .vertical-tab-header {
    background-color: unset;
  }
  .horizontal-tab-nav-item,
  .vertical-tab-nav-item,
  .vertical-tab-header-group-title {
    padding: calc(8px * var(--density-modifier)) 16px;
  }
  .vertical-tab-nav-item.is-active {
    font-weight: var(--nav-item-weight-active);
  }
  .horizontal-tab-content,
  .vertical-tab-content {
    background-color: transparent;
  }

  .setting-item {
    padding: calc(16px * var(--density-modifier)) 0;
  }
}

body.is-phone .modal.mod-sidebar-layout {
  .modal-header {
    border-bottom: none;
    padding-top: calc(var(--safe-area-inset-top) + 10px);
  }
  .modal-setting-back-button {
    inset-inline-start: 8px;
  }
  .modal-title {
    font-size: var(--font-ui-large);
  }
  .modal-close-button {
    width: 44px;
    height: 44px;
    line-height: 1;
    color: var(--text-normal);
    top: var(--safe-area-inset-top);
  }

  .vertical-tab-header,
  .vertical-tab-content {
    background-color: var(--background-secondary);
  }
}

// Community {
.modal.mod-sidebar-layout.mod-community-modal {
  .modal-sidebar {
    padding: 0;
  }

  .community-modal-controls {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    gap: 16px;

    .setting-item {
      padding: 0;
      margin: 0;
    }
    .setting-item:first-child {
      margin-right: auto;

      .setting-item-info {
        display: none;
      }
    }
    .setting-item:nth-last-child(2) {
      margin-right: 40px;
    }
    .community-modal-search-summary {
      display: none;
    }
  }
  .community-item-name {
    display: flex;
  }
  .community-item .flair {
    margin-left: auto;
    top: 0;
    line-height: normal;
    border-radius: var(--button-radius);
    padding: 4px 8px;
  }
}
