body {
  --input-height: 32px;

  --radius-modifier: 1;
  --input-radius: var(--radius-s);
  --radius-s: calc(8px * var(--radius-modifier));
  --radius-m: calc(12px * var(--radius-modifier));
  --radius-l: calc(16px * var(--radius-modifier));
  --radius-xl: calc(24px * var(--radius-modifier));
  --checkbox-radius: 4px;

  // Return 0 if modifier < 1; return 1 if modifier >= 1
  --radius-modifier-check: max(0, min(1, 1 - (1 - var(--radius-modifier)) * 9999));

  // Calculation for modifier < 1
  --button-radius-sharp: calc(8px * var(--radius-modifier));

  // Calculation for modifier >= 1
  --button-radius-round: calc(16px * var(--radius-modifier));

  // If --radius-modifier-checkis = 0, use --button-radius-sharp; if --radius-modifier-check = 1, use --button-radius-round
  --button-radius: calc(var(--button-radius-sharp) * (1 - var(--radius-modifier-check)) + var(--button-radius-round) * var(--radius-modifier-check));
}

body.theme-light {
  --input-shadow: 0 0 0 var(--input-border-width) var(--background-modifier-border);
  --input-shadow-hover: 0 0 0 var(--input-border-width) var(--background-modifier-border-hover);
}
body.theme-dark {
  --input-shadow: 0 0 0 var(--input-border-width) var(--background-modifier-border-hover);
  --input-shadow-hover: 0 0 0 var(--input-border-width) var(--background-modifier-border-hover);
}

// Button
button,
select,
.dropdown {
  transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
}

button:not(.clickable-icon) {
  padding: 16px;
  display: inline-flex;
}

.clickable-icon {
  padding: 8px;
}

// Style Settings: Elevated
.input-elevated {
  textarea,
  input:is([type="text"], [type="search"], [type="email"], [type="password"], [type="number"]):not(:focus) {
    border-bottom: 1px solid var(--text-muted);

    &:hover {
      background-color: var(--interactive-hover);
    }
  }
}

.theme-light.input-elevated {
  --input-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12), 0px 0.5px 0.4px hsl(0deg 5% 59% / 0.47), 0px 0.8px 0.7px -1px hsl(0deg 5% 59% / 0.4), 0px 1.9px 1.7px -2px hsl(0deg 5% 59% / 0.32), 0px 4.5px 4px -3px hsl(0deg 5% 59% / 0.25), 0.1px 9.4px 8.4px -4.1px hsl(0deg 5% 59% / 0.18);
  --input-shadow-hover: inset 0 0 0 1px rgba(0, 0, 0, 0.17), 0px 0.5px 0.5px hsl(0deg 5% 59% / 0.47), 0px 0.9px 0.8px -1px hsl(0deg 5% 59% / 0.4), 0px 1.9px 1.7px -2px hsl(0deg 5% 59% / 0.33), 0px 4.5px 4.1px -3px hsl(0deg 5% 59% / 0.26), 0.1px 9.4px 8.5px -4px hsl(0deg 5% 59% / 0.19);
}
.theme-dark.input-elevated {
  --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09), 0px 0.5px 0.4px hsl(0deg 0% 1% / 0.47), 0px 0.8px 0.7px -1px hsl(0deg 0% 1% / 0.4), 0px 1.9px 1.7px -2px hsl(0deg 0% 1% / 0.32), 0px 4.5px 4px -3px hsl(0deg 0% 1% / 0.25), 0.1px 9.4px 8.4px -4.1px hsl(0deg 0% 1% / 0.18);
  --input-shadow-hover: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09), 0px 0.5px 0.5px hsl(0deg 0% 1% / 0.47), 0px 0.9px 0.8px -1px hsl(0deg 0% 1% / 0.4), 0px 1.9px 1.7px -2px hsl(0deg 0% 1% / 0.33), 0px 4.5px 4.1px -3px hsl(0deg 0% 1% / 0.26), 0.1px 9.4px 8.5px -4px hsl(0deg 0% 1% / 0.19);
}

// Toggle
body:not(.accented-interface) .checkbox-container {
  --interactive-accent: var(--color-green);
}
.checkbox-container {
  box-shadow: none;
}
.checkbox-container:after {
  box-shadow: none;
}

// Slider
input[type="range"]::-webkit-slider-thumb {
  box-shadow: none;
}
