body {
  --input-height: 32px;

  --input-radius: var(--radius-s);
  --radius-s: var(--radius-s-custom);
  --radius-m: var(--radius-m-custom);
  --radius-l: var(--radius-l-custom);
  --radius-xl: var(--radius-xl-custom);
  --radius-s-custom: 8px;
  --radius-m-custom: 12px;
  --radius-l-custom: 16px;
  --radius-xl-custom: 24px;
  --button-radius: 100vw;
  --checkbox-radius: 4px;
}

body.theme-light {
  --input-shadow: 0 0 0 var(--input-border-width) var(--background-modifier-border);
  --input-shadow-hover: 0 0 0 var(--input-border-width) var(--background-modifier-border-hover);
}
body.theme-dark {
  --input-shadow: 0 0 0 var(--input-border-width) var(--background-modifier-border-hover);
  --input-shadow-hover: 0 0 0 var(--input-border-width) var(--background-modifier-border-hover);
}

// Button
button,
select,
.dropdown {
  transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
}

button:not(.clickable-icon) {
  padding: 16px;
  display: flex;
}

.clickable-icon {
  padding: 8px;
}

// Toggle
body:not(.accented-interface) .checkbox-container {
  --interactive-accent: var(--color-green);
}
.checkbox-container {
  box-shadow: none;
}
.checkbox-container:after {
  box-shadow: none;
}

// Slider
input[type="range"]::-webkit-slider-thumb {
  box-shadow: none;
}
