body {
  --input-height: 32px;

  --radius-modifier: 1;
  --input-radius: var(--radius-s);
  --radius-s: calc(8px * var(--radius-modifier));
  --radius-m: calc(12px * var(--radius-modifier));
  --radius-l: calc(16px * var(--radius-modifier));
  --radius-xl: calc(24px * var(--radius-modifier));
  --checkbox-radius: 4px;

  /* 0 when <1, 1 when >=1 */
  --radius-modifier-check: clamp(0, (var(--radius-modifier) - 1) * 10000 + 1, 1);

  --button-radius: calc((8px * var(--radius-modifier)) * (1 - var(--radius-modifier-check)) + 100vw * var(--radius-modifier-check));
}

body:not([class*="input-"]).is-mobile,
body.input-baseline.is-mobile {
  --interactive-normal: var(--background-primary);
  --input-border-width: var(--divider-width);
}

body.theme-light {
  --input-shadow: 0 0 0 var(--input-border-width) var(--background-modifier-border);
  --input-shadow-hover: 0 0 0 var(--input-border-width) var(--background-modifier-border-hover);
}
body.theme-dark {
  --input-shadow: 0 0 0 var(--input-border-width) var(--background-modifier-border-hover);
  --input-shadow-hover: 0 0 0 var(--input-border-width) var(--background-modifier-border-hover);
}

// Button
button,
select,
.dropdown {
  transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
}

button:not(.clickable-icon, .ant-switch) {
  padding: 16px;
  display: inline-flex;
}

.clickable-icon {
  padding: 8px;
}

// Toggle
body:not(.accented-interface) .checkbox-container {
  --interactive-accent: var(--color-green);
}
.checkbox-container {
  box-shadow: none;
}
.checkbox-container:after {
  box-shadow: none;
}

// Slider
input[type="range"]::-webkit-slider-thumb {
  box-shadow: none;
}

// Style Settings: Elevated
body.input-elevated {
  &.theme-light {
    --input-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12), 0px 0.5px 0.4px hsl(0deg 5% 59% / 0.47), 0px 0.8px 0.7px -1px hsl(0deg 5% 59% / 0.4), 0px 1.9px 1.7px -2px hsl(0deg 5% 59% / 0.32), 0px 4.5px 4px -3px hsl(0deg 5% 59% / 0.25), 0.1px 9.4px 8.4px -4.1px hsl(0deg 5% 59% / 0.18);
    --input-shadow-hover: inset 0 0 0 1px rgba(0, 0, 0, 0.17), 0px 0.5px 0.5px hsl(0deg 5% 59% / 0.47), 0px 0.9px 0.8px -1px hsl(0deg 5% 59% / 0.4), 0px 1.9px 1.7px -2px hsl(0deg 5% 59% / 0.33), 0px 4.5px 4.1px -3px hsl(0deg 5% 59% / 0.26), 0.1px 9.4px 8.5px -4px hsl(0deg 5% 59% / 0.19);
  }
  &.theme-dark {
    --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09), 0px 0.5px 0.4px hsl(0deg 0% 1% / 0.47), 0px 0.8px 0.7px -1px hsl(0deg 0% 1% / 0.4), 0px 1.9px 1.7px -2px hsl(0deg 0% 1% / 0.32), 0px 4.5px 4px -3px hsl(0deg 0% 1% / 0.25), 0.1px 9.4px 8.4px -4.1px hsl(0deg 0% 1% / 0.18);
    --input-shadow-hover: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09), 0px 0.5px 0.5px hsl(0deg 0% 1% / 0.47), 0px 0.9px 0.8px -1px hsl(0deg 0% 1% / 0.4), 0px 1.9px 1.7px -2px hsl(0deg 0% 1% / 0.33), 0px 4.5px 4.1px -3px hsl(0deg 0% 1% / 0.26), 0.1px 9.4px 8.5px -4px hsl(0deg 0% 1% / 0.19);
  }

  --input-radius: 4px;
  --button-radius: var(--input-radius);

  textarea,
  input:is([type="text"], [type="search"], [type="email"], [type="password"], [type="number"]):not(:focus) {
    border-bottom: 1px solid var(--text-faint);

    &:hover {
      background-color: var(--interactive-hover);
    }
  }
}

// Style Settings: Cupertino
body.input-cupertino {
  &.theme-light {
    --shadow-base: inset 1px 1px 2px rgba(255, 255, 255, 0.5), inset -1px -1px 2px rgba(255, 255, 255, 0.5), inset 0 4px 16px rgba(255, 255, 255, 0.025);
    --shadow-xs: var(--shadow-base), inset 0 -8px 48px rgba(0, 0, 0, 0.02), 0 1px 8px rgba(0, 0, 0, 0.025), 0 4px 48px rgba(0, 0, 0, 0.095);
    --input-shadow: none;

    --interactive-normal: var(--color-base-25);
  }
  &.theme-dark {
    --shadow-base: inset 1px 1.5px 1px -1px rgba(255, 255, 255, 0.2), inset -1px -1.5px 1px -1px rgba(255, 255, 255, 0.15), inset 0 4px 16px rgba(255, 255, 255, 0.025);
    --shadow-xs: inset 0 8px 64px rgba(255, 255, 255, 0.125), var(--shadow-base);
    --input-shadow: none;

    --interactive-normal: var(--color-base-40);
  }

  --input-radius: var(--radius-s);
  --button-radius: var(--input-radius);

  --slider-thumb-border-width: 0;
  --slider-thumb-height: 18px;
  --slider-thumb-width: 28px;
  --slider-thumb-radius: var(--toggle-thumb-radius);
  --slider-track-height: 6px;
  --slider-track-background: var(--background-modifier-border-hover);

  --toggle-border-width: 1.5px;
  --toggle-s-border-width: var(--toggle-border-width);
  --toggle-s-thumb-height: var(--toggle-thumb-height);
  --toggle-s-thumb-width: var(--toggle-thumb-width);
  --toggle-s-width: var(--toggle-width);
  --toggle-thumb-height: 13px;
  --toggle-thumb-width: 21px;
  --toggle-width: 36px;

  &:not(.is-mobile) {
    --input-height: 24px;
  }

  &.is-mobile {
    --slider-thumb-height: 25px;
    --slider-thumb-y: -10px;
    --slider-thumb-width: 38px;

    --toggle-border-width: 2px;
    --toggle-thumb-height: 25px;
    --toggle-thumb-width: 38px;
    --toggle-width: 68px;
  }

  // Button
  button:not(.clickable-icon, .ant-switch) {
    padding: 4px 12px;
  }

  // Slider
  input[type="range"]::-webkit-slider-thumb {
    transition: var(--anim-duration-moderate);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.075), 0 1px 16px rgba(0, 0, 0, 0.05);

    &:active {
      scale: 1.5;
      backdrop-filter: brightness(1.025);
      box-shadow: inset 1px 1px 2px -2px rgba(var(--mono-rgb-100), 1), inset -1px -1px 2px -2px rgba(var(--mono-rgb-100), 1), var(--shadow-xs);
      background-color: transparent;
    }
  }

  // Toggle
  .checkbox-container {
    &,
    &::after {
      transition: var(--anim-duration-moderate);
    }

    &:active:after {
      transform-origin: center;
      scale: 1.5;
      backdrop-filter: brightness(1.025);
      box-shadow: inset 1px 1px 2px -2px rgba(var(--mono-rgb-100), 1), inset -1px -1px 2px -2px rgba(var(--mono-rgb-100), 1), var(--shadow-xs);
      background-color: transparent;
    }

    &.is-enabled:active:after {
      transform-origin: center right;
    }
  }

  // Search bar fix
  .search-input-container {
    display: flex;
    align-items: center;
    overflow: visible;

    &:before {
      top: unset !important;
      inset-inline-start: 6px;
      height: var(--icon-s);
      width: var(--icon-s);
    }

    input {
      padding-inline-start: var(--input-height) !important;
    }
  }
}

// Style Settings: Fluent
body.input-fluent {
  --toggle-thumb-height: 12px;
  --toggle-thumb-width: 12px;
  --toggle-width: 40px;
  --toggle-border-width: 4px;
  --slider-thumb-border-width: 4px;
  --slider-thumb-width: 18px;
  --slider-thumb-height: 18px;
  --slider-track-background: var(--color-base-50);
  --slider-track-height: 4px;
  --input-radius: 5px;
  --button-radius: var(--input-radius);

  &.is-mobile {
    --slider-thumb-width: 24px;
    --slider-thumb-height: 24px;
  }
  &.theme-light {
    --input-shadow: 0px 0px 0px 1px var(--background-modifier-border), 0 -0.5px 0 0 rgba(0, 0, 0, 0.25) inset !important;
    --slider-thumb-border-color: var(--color-base-00);
  }
  &.theme-dark {
    --input-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0 0.5px 0 0 rgba(255, 255, 255, 0.1) inset !important;
    --slider-thumb-border-color: var(--color-base-35);
  }

  // Text input
  input[type="text"],
  input[type="number"],
  input[type="search"] {
    box-shadow: 0 -0.5px 0 0 var(--color-base-50) inset;

    &:active,
    &:focus,
    &:focus-visible {
      box-shadow: 0 -2px 0 0 var(--interactive-accent) inset;
      border-color: var(--background-modifier-border);
    }
  }

  // Slider
  input[type="range"]::-webkit-slider-thumb {
    transition: var(--anim-duration-fast);
    box-shadow: 0 0.5px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: var(--interactive-accent);
  }
  input[type="range"]::-webkit-slider-thumb:hover,
  input[type="range"]::-webkit-slider-thumb:active {
    --slider-thumb-border-width: 3px;
    border-color: var(--slider-thumb-border-color);
  }

  // Toggle
  .checkbox-container:not(.is-enabled) {
    --toggle-thumb-color: var(--text-muted);
    outline: 1px solid var(--text-faint);
    background-color: var(--color-base-10);
  }
}

// Style Settings: Tactile
body.input-tactile {
  &.theme-light {
    --input-shadow: 0 0 0 var(--input-border-width) var(--background-modifier-border-hover), inset 0 -1px 2px rgba(0, 0, 0, 0.05), inset 0 0 6px 2px white, inset 0 -16px 32px -32px rgba(0, 0, 0, 0.75), 0 2px 4px rgba(0, 0, 0, 0.035);
    --input-shadow-hover: 0 0 0 var(--input-border-width) var(--background-modifier-border), inset 0 0 6px 2px white, inset 0 16px 32px -32px rgba(0, 0, 0, 0.5);

    input:is([type="text"], [type="search"], [type="email"], [type="password"], [type="number"]) {
      box-shadow: inset 0 8px 16px -8px rgba(0, 0, 0, 0.15);
    }
  }
  &.theme-dark {
    --input-shadow: 0 0 0 var(--input-border-width) var(--background-modifier-border), inset 0 0 4px -2px rgba(0, 0, 0, 0.35), inset 0 -2px 8px rgba(255, 255, 255, 0.15), inset 0 -8px 8px 4px var(--interactive-normal), inset 0 2px 16px -2px rgba(255, 255, 255, 0.15), inset 0 48px 16px -32px rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.25);
    --input-shadow-hover: 0 0 0 var(--input-border-width) var(--background-modifier-border), inset 0 2px 4px rgba(255, 255, 255, 0.15), inset 0 4px 16px var(--interactive-normal), inset 0 -8px 16px rgba(255, 255, 255, 0.1), inset 0 -32px 16px -32px rgba(255, 255, 255, 0.1);

    &:not(.accented-interface) button.mod-cta {
      --input-shadow: 0 0 0 var(--input-border-width) var(--background-modifier-border-hover), inset 0 -1px 2px rgba(0, 0, 0, 0.1), inset 0 -2px 6px rgba(255, 255, 255, 0.75), inset 0 -24px 24px -16px rgba(0, 0, 0, 0.35), 0 2px 4px rgba(0, 0, 0, 0.035);
      --input-shadow-hover: 0 0 0 var(--input-border-width) var(--background-modifier-border), inset 0 2px 4px 2px rgba(255, 255, 255, 0.5), inset 0 8px 8px rgba(0, 0, 0, 0.15);
    }

    input:is([type="text"], [type="search"], [type="email"], [type="password"], [type="number"]) {
      box-shadow: inset 0 4px 16px rgba(0, 0, 0, 0.35), inset 0 -1px 2px -1px white, inset 0 -8px 16px rgba(255, 255, 255, 0.05);
    }
  }

  button.mod-cta {
    --input-shadow: 0 0 0 var(--input-border-width) var(--background-modifier-border), inset 0 0 4px -2px white, inset 0 -2px 8px rgba(255, 255, 255, 0.5), inset 0 -8px 8px 4px var(--interactive-accent), inset 0 2px 16px -2px rgba(255, 255, 255, 0.25), inset 0 48px 16px -32px rgba(255, 255, 255, 0.25), 0 2px 4px rgba(0, 0, 0, 0.035);
    --input-shadow-hover: 0 0 0 var(--input-border-width) var(--background-modifier-border), inset 0 2px 4px rgba(255, 255, 255, 0.5), inset 0 4px 16px var(--interactive-accent), inset 0 -8px 16px rgba(255, 255, 255, 0.25), inset 0 -32px 16px -32px rgba(255, 255, 255, 0.25);
  }

  input[type="range"]::-webkit-slider-thumb,
  .checkbox-container:after {
    box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.05), inset 0 0 6px 2px #fff, inset 0 -8px 16px -8px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .checkbox-container {
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.15), inset 0 -1px 2px -1px white;
  }

  button,
  select,
  .dropdown {
    transition: var(--anim-duration-fast) ease;
  }
}

body.input-material {
  --input-border-width: 0px;
  --input-height: 40px;
  --input-radius: var(--radius-s);
  --toggle-border-width: 4px;
  --toggle-width: 52px;
  --toggle-thumb-height: 24px;
  --toggle-thumb-width: 24px;
  --slider-thumb-height: 44px;
  --slider-thumb-width: 4px;
  --slider-thumb-y: -19px;
  --slider-thumb-radius: 100vh;
  --slider-track-height: 16px;
  --interactive-hover: var(--color-base-25);
  --interactive-normal: var(--color-base-30);
  --background-modifier-form-field: var(--interactive-normal);

  // Text input
  textarea,
  input[type="text"],
  input[type="number"],
  input[type="search"],
  select,
  .combobox-button,
  .dropdown {
    transition: var(--anim-duration-fast);
    box-shadow: inset 0 0 var(--color-accent);
    border-bottom: var(--border-width) solid var(--background-modifier-border-focus);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    &:focus {
      box-shadow: inset 0 -2px var(--color-accent);
      border-color: transparent;
    }
  }

  // Slider
  input[type="range"]::-webkit-slider-thumb {
    outline: 6px solid var(--background-secondary);
    background-color: var(--interactive-accent);
  }
  input[type="range"]:active {
    --slider-thumb-y: -23px;
    --slider-thumb-height: 52px;
  }

  // Toggle
  .checkbox-container {
    &::after {
      transition: var(--anim-duration-fast);
    }
    &.is-enabled:active::after {
      opacity: 0.8;
      width: var(--toggle-thumb-height);
      left: unset;
    }
    &:not(.is-enabled) {
      --toggle-border-width: 8px;
      --toggle-thumb-color: var(--text-muted);
      --toggle-thumb-height: 16px;
      --toggle-thumb-width: 16px;
      box-shadow: inset 0 0 0 2px var(--text-muted);
    }
    &:not(.is-enabled):active::after {
      scale: 1.5;
      width: var(--toggle-thumb-height);
      margin-left: -4px;
    }
  }
}
