body {
  --input-height: 32px;

  --radius-modifier: 1;
  --input-radius: var(--radius-s);
  --button-radius: 100vw;
  --radius-s: calc(8px * var(--radius-modifier));
  --radius-m: calc(12px * var(--radius-modifier));
  --radius-l: calc(16px * var(--radius-modifier));
  --radius-xl: calc(24px * var(--radius-modifier));
  --checkbox-radius: 4px;
}

body.theme-light {
  --input-shadow: 0 0 0 var(--input-border-width) var(--background-modifier-border);
  --input-shadow-hover: 0 0 0 var(--input-border-width) var(--background-modifier-border-hover);
}
body.theme-dark {
  --input-shadow: 0 0 0 var(--input-border-width) var(--background-modifier-border-hover);
  --input-shadow-hover: 0 0 0 var(--input-border-width) var(--background-modifier-border-hover);
}

// Button
button,
select,
.dropdown {
  transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
}

button:not(.clickable-icon) {
  padding: 16px;
  display: flex;
}

.clickable-icon {
  padding: 8px;
}

// Toggle
body:not(.accented-interface) .checkbox-container {
  --interactive-accent: var(--color-green);
}
.checkbox-container {
  box-shadow: none;
}
.checkbox-container:after {
  box-shadow: none;
}

// Slider
input[type="range"]::-webkit-slider-thumb {
  box-shadow: none;
}
