body.is-mobile {
  --radius-s: calc(8px * var(--radius-modifier));
  --radius-m: calc(16px * var(--radius-modifier));
  --radius-l: calc(24px * var(--radius-modifier));
  --radius-xl: calc(32px * var(--radius-modifier));
  --mobile-sidebar-width: 100%;

  --tab-switcher-menubar-background: var(--background-secondary);
  --tab-switcher-preview-radius: var(--radius-m);

  --metadata-divider-width: 0;
  --metadata-gap: 0;

  background-color: var(--background-secondary);
}

body.is-phone {
  --mobile-sidebar-radius: 0;

  // Animation
  .app-container:has(> .horizontal-main-container > .workspace > .workspace-drawer:not([style*="display: none;"])),
  .app-container:has(~ .menu),
  .app-container:has(~ .mod-dim) {
    .mod-root {
      transform: scale(0.95);
    }
    .mobile-navbar {
      transform: translateY(80px);
    }
  }

  // Editor panel
  .mod-root {
    transition: var(--anim-duration-moderate) var(--anim-motion-baseline);

    .view-header-title-container {
      opacity: 1;
    }
  }

  // Mode Switcher

  .mod-root .view-header {
    z-index: 3;
  }
  &:not(.mode-switcher-off) .mod-root .workspace-leaf-content .view-actions button:nth-last-child(2) {
    position: fixed;
    right: 16px;
    bottom: 0;
    margin-bottom: 16px;
    border-radius: var(--button-radius);
    padding: 16px;
    width: auto;
    height: auto;
    background-color: var(--background-secondary);
    border: 1px solid var(--background-modifier-border);
  }

  &.mod-toolbar-open:not(.mode-switcher-off) .mod-root .workspace-leaf-content[data-mode="source"] .view-actions button:nth-last-child(2) {
    right: var(--side-padding);
    margin-bottom: var(--side-padding);
  }

  // Navbar
  .mobile-navbar {
    border-top: var(--border-width) solid var(--background-modifier-border);
    transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
    padding-right: max(var(--safe-area-inset-right), 24px);
    padding-left: max(var(--safe-area-inset-right), 24px);
  }

  // Tab switcher
  .mobile-tab-switcher-menubar {
    border-top: none;
  }
}
