body,
body.theme-light,
body.theme-dark {
  --font-interface-theme: "Inter4";
  --font-text-theme: "Inter4";
  --font-print-theme: "Inter4";

  --titlebar-background: transparent;
  --titlebar-background-focused: transparent;
  --workspace-background-translucent: rgba(var(--mono-rgb-0), 0.5);

  --text-normal: var(--color-base-90);
  --divider-color-hover: var(--color-base-50);

  --bold-modifier: 300;

  --icon-opacity: 1;

  --shadow-s: rgba(0, 0, 0, 0.08) 0px 12px 24px -4px, rgba(0, 0, 0, 0.04) 0px 8px 16px -4px;
  --shadow-l: 0 14px 62px 0 #00000040;
  --shadow-tactile: inset 0 0 0 var(--input-border-width) rgba(var(--mono-rgb-0), 0.25), rgba(0, 0, 0, 0.04) 0px 2px 8px -2px, rgba(var(--mono-rgb-100), 0.04) 0px 2px 4px -2px;

  --anim-speed-modifier: 1;
  --anim-motion-baseline: cubic-bezier(0.1, 0, 0.1, 1.25);
  --anim-duration-superfast: calc(80ms * var(--anim-speed-modifier));
  --anim-duration-fast: calc(160ms * var(--anim-speed-modifier));
  --anim-duration-moderate: calc(320ms * var(--anim-speed-modifier));
  --anim-duration-slow: calc(640ms * var(--anim-speed-modifier));

  --icon-stroke-modifier: 1;
  --icon-xs-stroke-width: calc(2px * var(--icon-stroke-modifier));
  --icon-s-stroke-width: calc(2px * var(--icon-stroke-modifier));
  --icon-m-stroke-width: calc(1.75px * var(--icon-stroke-modifier));
  --icon-l-stroke-width: calc(1.75px * var(--icon-stroke-modifier));
  --icon-xl-stroke-width: calc(1.25px * var(--icon-stroke-modifier));

  --density-modifier: 1;
}

.theme-light {
  --color-base-80: #494949;
  --color-base-90: #363636;
}
.theme-dark {
  --color-base-80: #c0c0c0;
  --color-base-90: #cdcdcd;
}

.is-translucent {
  --divider-color: var(--background-modifier-border) !important;
}

body:not(.accented-interface) {
  --interactive-accent: rgb(var(--mono-rgb-100));
  --interactive-accent-hover: rgba(var(--mono-rgb-100), 0.8);
  --text-on-accent: var(--color-base-00);
  --text-on-accent-inverted: var(--color-base-00);
}

body.window-title-off .titlebar-text {
  display: none;
}
