body {
  --nav-item-padding: 8px 32px;
  --nav-item-children-margin-start: 18px;
  --indentation-guide-width: 0px;

  --nav-item-background-hover: transparent;
  --nav-item-background-active: transparent;
  --nav-item-weight-hover: var(--font-bold);
  --nav-item-weight-active: var(--font-bold);

  --ribbon-width: 52px;
  --ribbon-background-collapsed: var(--ribbon-background);
}

body.is-mobile {
  --nav-item-padding: 12px 24px;
  --nav-item-children-margin-start: 12px;
}

@keyframes workspaceLeafIn {
  from {
    opacity: 0;
    transform: scale(0.95);
    filter: blur(4px);
  }
}

@keyframes workspaceLeafOut {
  to {
    opacity: 0;
    transform: scale(0.95);
    filter: blur(4px);
  }
}

// File navigation
.tree-item-self,
.tree-item-inner {
  transition: font-weight var(--anim-duration-superfast);
  align-items: center;
}
.nav-files-container .tree-item-self.is-active::before {
  content: "";
  position: absolute;
  margin-left: -12px;
  width: 4px;
  height: 4px;
  border-radius: var(--button-radius);
  background-color: var(--nav-item-color-active);
}

// Ribbon
.workspace-ribbon.mod-left {
  margin-top: 0;
  padding-top: var(--header-height);
  border-right: none;
}
.workspace-ribbon .sidebar-toggle-button {
  display: flex;
}

// Desktop sidedock
body:not(.is-mobile) .mod-sidedock {
  > .workspace-leaf-resize-handle:not(:hover) {
    border-color: transparent;
  }

  .workspace-tab-container {
    position: relative;
  }
  .workspace-leaf:not([style*="display: none"]) {
    animation: workspaceLeafIn var(--anim-duration-moderate) var(--anim-motion-baseline) forwards;
  }
  .workspace-leaf[style*="display: none"] {
    position: absolute;
    inset: 0;
    display: flex !important;
    pointer-events: none;
    animation: workspaceLeafOut var(--anim-duration-moderate) var(--anim-motion-baseline) forwards;
    z-index: 1;
  }

  // Sidedock padding
  .workspace-leaf-content > .node-insert-event,
  .workspace-leaf-content > .view-content,
  .workspace-leaf-content > .nav-header {
    padding: 0 16px 8px;

    > div:not(.nav-buttons-container) {
      padding: 0;
    }
  }

  // Panel actions style
  .nav-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .nav-header .search-input-container {
    margin: 8px 0;
  }
  .nav-action-button,
  .nav-action-button[aria-disabled="true"] {
    position: relative;
    height: 100%;
  }
  .nav-action-button svg {
    margin: unset;
  }

  // Hide vault switcher
  &.workspace-split.mod-left-split {
    .workspace-sidedock-vault-profile {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      pointer-events: none;
      align-items: unset;
      background: transparent;
      gap: 0;
    }
    .workspace-sidedock-vault-profile::before {
      transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      pointer-events: none;
      background: linear-gradient(rgb(var(--mono-rgb-0), 0), var(--background-primary));
    }
    .workspace-sidedock-vault-profile:not(:hover)::before {
      opacity: 0;
    }

    .workspace-drawer-vault-switcher,
    .workspace-drawer-vault-actions .clickable-icon {
      transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
      pointer-events: visible;
    }
    .workspace-sidedock-vault-profile:not(:hover) .workspace-drawer-vault-switcher:not(.has-active-menu),
    .workspace-sidedock-vault-profile:not(:hover) .workspace-drawer-vault-actions .clickable-icon:first-child {
      opacity: 0;
      filter: blur(4px);
      pointer-events: none;
      transform: translateY(16px);
    }
  }
}
