body {
  --nav-item-padding: calc(8px * var(--density-modifier)) 8px calc(8px * var(--density-modifier)) 24px;
  --indentation-guide-width: 0px;

  --nav-item-weight-active: calc(var(--font-weight) + var(--bold-modifier));

  --ribbon-width: var(--header-height);
  --ribbon-background-collapsed: var(--ribbon-background);
}

body.is-mobile {
  --nav-item-padding: calc(12px * var(--density-modifier)) 24px;
  --nav-item-children-margin-start: 12px;
}

@keyframes workspaceLeafIn {
  from {
    opacity: 0;
    transform: scale(0.95);
    filter: blur(4px);
  }
}

@keyframes workspaceLeafOut {
  to {
    opacity: 0;
    transform: scale(0.95);
    filter: blur(4px);
  }
}

// File navigation
body:not(.nav-item-subtle, .nav-item-strong) {
  --nav-item-background-hover: transparent;
  --nav-item-background-active: transparent;
  --nav-item-weight-hover: var(--font-medium);

  .nav-files-container .tree-item-self.is-active::before {
    content: "";
    position: absolute;
    margin-left: -12px;
    width: 4px;
    height: 4px;
    border-radius: var(--button-radius);
    background-color: var(--nav-item-color-active);
  }
}
body.nav-item-strong {
  --nav-item-background-active: var(--interactive-accent);
  --nav-item-color-active: var(--text-on-accent);
}
body.full-item-name {
  --nav-item-white-space: none;
}
.tree-item-self,
.tree-item-inner {
  transition: font-weight var(--anim-duration-superfast);
  align-items: center;
}
body.bold-folders .nav-folder-title {
  --nav-item-weight: calc(var(--font-weight) + var(--bold-modifier));
  --nav-item-weight-hover: calc(var(--font-weight) + var(--bold-modifier));
}

// Ribbon
.workspace-ribbon.mod-left {
  margin-top: 0;
  padding-top: var(--header-height);
  border-right: none;
}
.workspace-ribbon .sidebar-toggle-button {
  display: flex;
}

// Desktop sidedock
body:not(.is-mobile, .theme-light:is(.contrast-light-tonal, .contrast-light-white), .theme-dark:is(.contrast-dark-tonal, .contrast-dark-black), .layout-classic) .mod-sidedock > .workspace-leaf-resize-handle:not(:hover) {
  border-color: transparent;
}
body:not(.is-mobile) .mod-sidedock {
  // Sidedock padding
  .workspace-leaf-content > .node-insert-event,
  .workspace-leaf-content > .view-content,
  .workspace-leaf-content > .nav-header {
    padding: 0 16px;

    > div:not(.nav-buttons-container) {
      padding: 0;
    }
  }

  .workspace-leaf-content > .nav-header {
    padding-bottom: 8px;
  }

  // Panel actions style
  .nav-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .nav-header .nav-buttons-container {
    flex-wrap: nowrap;
  }
  .nav-header .search-input-container {
    margin: 8px 0;
  }
  .nav-action-button,
  .nav-action-button[aria-disabled="true"] {
    position: relative;
    height: 100%;
  }
  .nav-action-button svg {
    margin: unset;
  }
}

// Animation
body .mod-sidedock {
  .workspace-tab-container {
    position: relative;
  }
  .workspace-leaf:not([style*="display: none"]) {
    animation: workspaceLeafIn var(--anim-duration-moderate) var(--anim-motion-baseline) forwards;
  }
  .workspace-leaf[style*="display: none"] {
    position: absolute;
    inset: 0;
    pointer-events: none;
    user-select: none;
    animation: workspaceLeafOut var(--anim-duration-moderate) var(--anim-motion-baseline) forwards;
    z-index: 1;

    * {
      pointer-events: none;
      user-select: none;
    }

    input,
    textarea,
    button,
    select,
    .dropdown {
      display: none;
    }
  }
}

// Hide vault switcher
body:not(.is-mobile, .hide-vault-switcher-off) .mod-sidedock.mod-left-split {
  .workspace-sidedock-vault-profile {
    --tab-outline-width: 0px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    align-items: unset;
    background: transparent;
    gap: 0;
  }
  .workspace-sidedock-vault-profile::before {
    transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 300%;
    z-index: -1;
    pointer-events: none;
    background: linear-gradient(rgb(var(--mono-rgb-0), 0), var(--background-primary));
  }
  .workspace-sidedock-vault-profile:not(:hover)::before {
    opacity: 0;
  }

  .workspace-drawer-vault-switcher,
  .workspace-drawer-vault-actions .clickable-icon {
    transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
    pointer-events: visible;
  }
  .workspace-sidedock-vault-profile:not(:hover) .workspace-drawer-vault-switcher:not(.has-active-menu),
  .workspace-sidedock-vault-profile:not(:hover) .workspace-drawer-vault-actions .clickable-icon:first-child {
    opacity: 0;
    filter: blur(4px);
    pointer-events: none;
    transform: translateY(16px);
  }

  .workspace-leaf-content > .node-insert-event,
  .workspace-leaf-content > .view-content {
    padding-bottom: 48px;
  }
}

// Desktop sidedock: Style Settings
body.hide-help .workspace-drawer-vault-actions .clickable-icon:first-child {
  display: none;
}
body.large-new-note .mod-sidedock .workspace-leaf-content[data-type="file-explorer"] {
  .nav-header .nav-action-button:first-child {
    flex: 1;
    box-shadow: inset 0 0 0 1px var(--background-modifier-border);
  }

  .nav-header .nav-action-button:first-child::after {
    content: attr(aria-label);
    font-size: var(--font-ui-smaller);
    color: var(--icon-color);
    white-space: nowrap;
    margin-left: 8px;
  }
}

// Mobile drawer
body.is-mobile .workspace-drawer {
  .workspace-drawer-header-name-text {
    font-family: var(--h1-font);
  }
  .workspace-drawer-active-tab-header {
    padding-inline-start: 0;
    padding-inline-end: 0;
    background-color: transparent;
    margin: 0 20px;
  }
  .workspace-drawer-active-tab-chevron {
    margin-inline-start: 0;
  }
  .workspace-drawer-active-tab-header select {
    width: 100%;
  }
}

// Tablet drawer
body.is-tablet .workspace-drawer:not(.is-pinned) {
  margin: var(--safe-area-inset-top) 16px var(--safe-area-inset-bottom);
  padding-top: 8px;
  border-radius: var(--mobile-sidebar-radius);

  .nav-header {
    padding-bottom: 8px;
  }
}
