body:not(.compact-status-bar-off) .status-bar {
  transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
  border: none;
  transform-origin: bottom right;
  background-color: transparent;
  min-height: 8px;
  height: calc-size(auto, size);
}
body:not(.compact-status-bar-off) .status-bar::before {
  transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150%;
  height: 200%;
  z-index: -1;
  pointer-events: none;
  background: radial-gradient(farthest-side at right bottom, var(--background-primary), rgba(var(--mono-rgb-0), 0));
}
body:not(.compact-status-bar-off) .status-bar:not(:hover) {
  transform: scale(0.8);
  opacity: 0.5;
}
body:not(.compact-status-bar-off) .status-bar:not(:hover)::before {
  opacity: 0;
}
