/*!
/* @settings

name: Baseline
id: baseline-style
settings:
	-
		id: instructions
		title: Coming from other themes?
		type: info-text
		level: 1
		markdown: true
		description: Easily migrate your settings with [Style Settings migration tool](https://aaaaalexis.github.io/obsidian-baseline/). Currently supporting **Minimal**, **AnuPpuccin**, **Border**, **Sanctum**, and **Things 2**
	-
		id: missing-font
		title: Extended language support
		title.zh-TW: 擴充語言支援
		title.zh: 扩展语言支持
		title.jp: 拡張言語サポート
		title.ru: Расширенная языковая поддержка
		type: info-text
		level: 1
		markdown: true
		description: If your headings appear with missing characters, [download the extended font](https://raw.githubusercontent.com/aaaaalexis/obsidian-baseline/refs/heads/main/snippets/baseline-extension-font.css) and install it as a CSS snippet
		description.zh-TW: 如果標題出現字型缺漏，[請點此下載擴充字型](https://raw.githubusercontent.com/aaaaalexis/obsidian-baseline/refs/heads/main/snippets/baseline-extension-font.css)，並安裝為 CSS 片段
		description.zh: 如果标题出现字体缺失，[请点击此处下载扩展字体](https://raw.githubusercontent.com/aaaaalexis/obsidian-baseline/refs/heads/main/snippets/baseline-extension-font-cn.css)，并安装为 CSS 代码片段
		description.jp: 見出しに文字化けやフォントの欠落がある場合は、[こちらから拡張フォントをダウンロード](https://raw.githubusercontent.com/aaaaalexis/obsidian-baseline/refs/heads/main/snippets/baseline-extension-font-jp.css)し、CSSスニペットとしてインストールしてください
		description.ru: Если в заголовках не отображаются некоторые символы, [скачайте расширенный шрифт здесь](https://raw.githubusercontent.com/aaaaalexis/obsidian-baseline/refs/heads/main/snippets/baseline-extension-font.css) и установите его в виде CSS-фрагмента
	-
		id: colors
		title: Colors
		type: heading
		level: 1
		collapsed: true
	-
		id: accented-interface
		title: Interface accent
		description: Use accent color for active state and buttons
		type: class-toggle
		default: false
	-
		id: color-scheme-light
		title: Light mode color scheme
		type: class-select
		allowEmpty: false
		default: default-light
		options:
			-
				label: Obsidian
				value: default-light
			-
				label: Admin
				value: admin-light
			-
				label: Atom
				value: atom-light
			-
				label: Ayu
				value: ayu-light
			-
				label: Catppuccin
				value: catppuccin-light
			-
				label: Everforest
				value: everforest-light
			-
				label: Flexoki
				value: flexoki-light
			-
				label: Gruvbox
				value: gruvbox-light
			-
				label: Latte
				value: latte-light
			-
				label: macOS
				value: macos-light
			-
				label: Melange
				value: melange-light
			-
				label: Nord
				value: nord-light
			-
				label: Rosé Pine
				value: rose-pine-light
			-
				label: Sky
				value: notion-light
			-
				label: Solarized
				value: solarized-light
			-
				label: Things
				value: things-light
	-
		id: background-contrast-light
		title: Light mode background contrast
		type: class-select
		allowEmpty: false
		default: contrast-light
		options:
			-
				label: Normal
				value: contrast-light
			-
				label: Low contrast
				value: contrast-light-tonal
			-
				label: High contrast
				value: contrast-light-vivid
			-
				label: White
				value: contrast-light-white
	-
		id: color-scheme-dark
		title: Dark mode color scheme
		type: class-select
		allowEmpty: false
		default: default-dark
		options:
			-
				label: Obsidian
				value: default-dark
			-
				label: Admin
				value: admin-dark
			-
				label: Atom
				value: atom-dark
			-
				label: Ayu
				value: ayu-dark
			-
				label: Catppuccin
				value: catppuccin-dark
			-
				label: Dracula
				value: dracula-dark
			-
				label: Everforest
				value: everforest-dark
			-
				label: Flexoki
				value: flexoki-dark
			-
				label: Frappe
				value: frappe-dark
			-
				label: Gruvbox
				value: gruvbox-dark
			-
				label: Macchiato
				value: macchiato-dark
			-
				label: macOS
				value: macos-dark
			-
				label: Melange
				value: melange-dark
			-
				label: Mocha
				value: mocha-dark
			-
				label: Nord
				value: nord-dark
			-
				label: Rosé Pine
				value: rose-pine-dark
			-
				label: Sky
				value: notion-dark
			-
				label: Solarized
				value: solarized-dark
			-
				label: Things
				value: things-dark
	-
		id: background-contrast-dark
		title: Dark mode background contrast
		type: class-select
		allowEmpty: false
		default: contrast-dark
		options:
			-
				label: Normal
				value: contrast-dark
			-
				label: Low contrast
				value: contrast-dark-tonal
			-
				label: Black
				value: contrast-dark-black
	-
		id: color-scheme-accent
		title: Color scheme accent
		description: Override accent color with color scheme predefined color 
		type: class-toggle
		default: false
	-
		id: base-palette
		title: Base colors
		type: heading
		level: 2
		collapsed: true
	-
		id: background-primary
		title: Primary background
		description: Background color for the main window
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: background-primary-alt
		title: Primary background (Alternative)
		description: Background color for blockquotes and tables
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: background-secondary
		title: Secondary background
		description: Background color for sidebars and menus
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: background-secondary-alt
		title: Secondary background (Alternative)
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: interactive-normal
		title: Interactive background
		description: Background color for buttons and dropdowns
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: interactive-hover
		title: Highlighted interactive background
		description: Used when hovering over buttons, dropdowns, and filled elements
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: background-modifier-hover
		title: Highlighted background
		description: Used when hovering over buttons, dividers, and outlined elements
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: background-modifier-active-hover
		title: Active highlighted background 
		description: Used when clicking buttons and outlined elements
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: background-modifier-border
		title: Border color
		type: variable-themed-color
		description: For buttons, divider lines, and outlined elements
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: background-modifier-border-hover
		title: Highlighted border color
		description: Used when hovering over buttons, dividers, and outlined elements
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: background-modifier-border-focus
		title: Active border color
		description: Used when clicking buttons and outlined elements
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: extended-palette
		title: Extended colors
		type: heading
		level: 2
		collapsed: true
	-
		id: color-red
		title: Red
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: color-orange
		title: Orange
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: color-yellow
		title: Yellow
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: color-green
		title: Green
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: color-cyan
		title: Cyan
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: color-blue
		title: Blue
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: color-purple
		title: Purple
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: color-pink
		title: Pink
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: icon-palette
		title: Icon colors
		type: heading
		level: 2
		collapsed: true
	-
		id: icon-color
		title: Icon color
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: icon-color-hover
		title: Icon color (hover)
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: icon-color-active
		title: Icon color (active)
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: icon-color-focused
		title: Icon color (focused)
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: text-palette
		title: Text colors
		type: heading
		level: 2
		collapsed: true
    - 
        id: text-palette-info
		title: Heading text color
		description: Find headings customization in **Editor** section
        type: info-text
		markdown: true
	-
		id: text-normal
		title: Normal text color
		type: variable-themed-color
		description: Primary text color used by default across all elements
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: text-muted
		title: Muted text color
		description: Secondary text such as sidebar note titles and table headings
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: text-faint
		title: Faint text color
		description: Tertiary text such as input placeholders, empty checkboxes, and disabled statuses
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: italic-color
		title: Italic text color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: bold-color
		title: Bold text color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: text-selection
		title: Selected text background
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: text-highlight-bg
		title: Highlighted text background
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: interface
		title: Interface
		type: heading
		level: 1
		collapsed: true
	-
		id: interface-font
		title: Interface font
		type: info-text
		level: 1
		markdown: true
		description: Base font for all of Obsidian can be set in **Appearance** settings
	-
		id: layout-style
		title: Layout style
		type: class-select
		allowEmpty: false
		default: layout-baseline
		options:
			-
				label: Baseline
				value: layout-baseline
			-
				label: Classic
				value: layout-classic
			-
				label: Cards
				value: layout-cards
			-
				label: Border
				value: layout-border
			-
				label: Frame
				value: layout-frame
			-
				label: Cupertino
				value: layout-cupertino
	-
		id: density-modifier
		title: Density
		type: variable-number-slider
		default: 1
		min: 0.75
		max: 1.25
		step: 0.25
	-
		id: radius-modifier
		title: Roundness
		type: variable-number-slider
		default: 1
		min: 0.5
		max: 2
		step: 0.25
	-
		id: icon-stroke-modifier
		title: Icon thickness
		type: variable-number-slider
		default: 1
		options:
		min: 0.5
		max: 1
		step: 0.25
	-
		id: status-bar-style
		title: Status bar style
		type: class-select
		allowEmpty: false
		default: status-bar-compact
		options:
			-
				label: Compact
				value: status-bar-compact
			-
				label: Normal
				value: status-bar-default
			-
				label: Full width
				value: status-bar-full
			-
				label: Cupertino
				value: status-bar-cupertino
	-
		id: animation
		title: Animation
		type: heading
		level: 2
		collapsed: true
	-
		id: anim-motion-baseline
		title: Animation personality profile
		type: variable-select
		default: cubic-bezier(0.1, 0, 0.1, 1.25)
		options:
			-
				label: Playful
				value: cubic-bezier(0.1, 0, 0.1, 1.25)
			-
				label: Refined
				value: cubic-bezier(0.32, 0.72, 0, 1)
	-
		id: anim-speed-modifier
		title: Animation speed
		type: variable-number-slider
		default: 1
		min: 0
		max: 2
		step: 0.1
	-
		id: tabs
		title: Tabs
		type: heading
		level: 2
		collapsed: true
	-
		id: header-height
		title: Tab bar height
		type: variable-text
		default: 48px
	-
		id: tabs-style
		title: Tab style
		type: class-select
		allowEmpty: false
		default: tabs-default
		options:
			-
				label: Baseline
				value: tabs-default
			-
				label: Floating
				value: tabs-floating
			-
				label: Underline
				value: tabs-underline
	-
		id: tab-stacks
		title: Tab stacks
		type: heading
		level: 2
		collapsed: true
	-
		id: tab-stacked-pane-width
		title: Stacked width
		type: variable-number
		description: Width of a stacked tab in pixels
		default: 700
		format: px
	-
		id: tab-stacked-header-width
		title: Spine width
		type: variable-number
		description: Width of the spine in pixels
		default: 40
		format: px
	-
		id: tab-stacked-spine-orientation
		title: Spine text orientation
		type: class-select
		default: tab-stack-top
		options:
			-
				label: Top
				value: tab-stack-top
			-
				label: Top flipped
				value: tab-stack-top-flipped
			-
				label: Bottom
				value: tab-stack-bottom
			-
				label: Bottom flipped
				value: tab-stack-bottom-flipped
			-
				label: Center
				value: tab-stack-center
			-
				label: Center flipped
				value: tab-stack-center-flipped
	-
		id: tab-stacked-spine-order
		title: Spine element order
		type: variable-select
		default: row
		options:
			-
				label: Default
				value: row
			-
				label: Reversed
				value: row-reverse
	-
		id: sidebars
		title: Sidebars
		type: heading
		level: 2
		collapsed: true
	-
		id: labeled-tabs
		title: Tab labels
		type: class-select
		allowEmpty: false
		default: labeled-tabs-off
		options:
			-
				label: Hidden
				value: labeled-tabs-off
			-
				label: Visible
				value: labeled-tabs-all
			-
				label: Single tab
				value: labeled-tabs-single
	-
		id: stacked-nav-off
		title: Disable large primary navigation
		description: Turns off vertically stacked tabs in the left sidebar 
		type: class-toggle
	-
		id: compact-actions-off
		title: Disable compact panel actions
		description: Turns off auto hiding panel actions
		type: class-toggle
	-
		id: compact-tabs-off
		title: Disable compact tabs bars
		description: Turns off auto hiding tabs for non-top panels
		type: class-toggle
	-
		id: large-new-note
		title: Large new note button
		description: Adds text label and background on new note button in the left sidebar
		type: class-toggle
	-
		id: bold-folders
		title: Bold folders name
		type: class-toggle
	-
		id: colorful-folders
		title: Colorful folders
		description: Adds colored indicator on folders
		type: class-select
		allowEmpty: false
		default: colorful-folders-off
		options:
			-
				label: None
				value: colorful-folders-off
			-
				label: Indicator
				value: colorful-folders-side
			-
				label: Subtle
				value: colorful-folders-subtle
			-
				label: Strong
				value: colorful-folders-strong
			-
				label: Monochrome
				value: colorful-folders-mono
	-
		id: nav-item-active-style
		title: Active file style
		type: class-select
		allowEmpty: false
		default: nav-item-baseline
		options:
			-
				label: Baseline
				value: nav-item-baseline
			-
				label: Subtle
				value: nav-item-subtle
			-
				label: Strong
				value: nav-item-strong
	-
		id: nav-item-size
		title: Item name size
		description: Accepts any CSS font-size value
		type: variable-text
		default: ''
	-
		id: full-item-name
		title: Full item name
		description: Display long file name without trimming
		type: class-toggle
		default: false
	-
		id: hide-help
		title: Hide help button
		type: class-toggle
		default: false
	-
		id: hide-vault-switcher-off
		title: Always show vault switcher
		type: class-toggle
		default: false
	-
		id: indentation-guide
		title: Indentation guides
		type: heading
		level: 2
		collapsed: true
	-
		id: indentation-guide-width
		title: Indentation guides thickness
		type: variable-select
		allowEmpty: false
		default: 0px
		options:
			-
				label: Hidden
				value: 0px
			-
				label: Thin
				value: 1px
			-
				label: Medium
				value: 2px
			-
				label: Thick
				value: 4px
	-
		id: indentation-guide-color
		title: Indentation guides color
		type: variable-select
		allowEmpty: false
		default: rgba(var(--mono-rgb-100), 0.12)
		options:
			-
				label: Subtle
				value: rgba(var(--mono-rgb-100), 0.12)
			-
				label: Strong
				value: var(--text-faint)
			-
				label: Full width
				value: var(--color-accent)
	-
		id: obsidian-frame
		title: Obsidian frame
		type: heading
		level: 2
		collapsed: true
    - 
        id: obsidian-frame-info
		description: Obsidian frame must be set in **Appearance** settings
        type: info-text
		markdown: true
	-
		id: window-title-off
		title: Hide window frame title
		description: Hide title in the custom title bar
		type: class-toggle
	-
		id: titlebar-text-color-focused
		title: Frame title color (focused)
		description: Requires custom title bar
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: titlebar-text-color
		title: Frame title color (inactive)
		description: Requires custom title bar
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: titlebar-text-weight
		title: Frame title font weight
		description: Requires custom title bar
		type: variable-number-slider
		default: 600
		min: 100
		max: 900
		step: 100
	-
		id: editor
		title: Editor
		type: heading
		level: 1
		collapsed: true
	-
		id: editor-font
		title: Editor font
		type: info-text
		level: 1
		markdown: true
		description: Font for reading and editing view can be set in **Appearance** settings
	-
		id: focus-view
		title: Focus view
		description: Hide tabs and tab title bar when sidebars are collapsed, hover over the top to reveal
		type: class-select
		default: focus-view-off
		options:
			-
				label: Disabled
				value: focus-view-off
			-
				label: Only hide tabs
				value: focus-view-tabs
			-
				label: Hide all
				value: focus-view-all
	-
		id: mode-switcher-off
		title: Disable quick mode switcher
		type: class-toggle
		description: Turns off mobile editor mode switcher quick access
		default: false
	-
		id: active-line
		title: Active line
		type: heading
		level: 2
		collapsed: true
	-
		id: active-line-style
		title: Highlight active line style
		description: Adds an indicator to current line in editor
		type: class-select
		default: active-line-off
		options:
			-
				label: None
				value: active-line-off
			-
				label: Indicator
				value: active-line-side
			-
				label: Block background
				value: active-line-block
			-
				label: Line background
				value: active-line-background
	-
		id: active-line-color
		title: Highlight active line color
		type: class-select
		default: active-line-color-default
		options:
			-
				label: Monochrome
				value: active-line-color-default
			-
				label: Accent color
				value: active-line-color-accent
	-
		id: tab-title-bar
		title: Tab title bar
		type: heading
		level: 2
		collapsed: true
    - 
        id: tab-title-bar-info
		description: Tab title bar must be turned on in **Appearance** settings
        type: info-text
		markdown: true
	-
		id: file-header-visibility
		title: Tab title visibility
		description: Visibility of the tab title text
		type: class-select
		default: view-header-title-hover
		options:
			-
				label: Hover only
				value: view-header-title-hover
			-
				label: Hidden
				value: view-header-title-hidden
			-
				label: Always
				value: view-header-title-always
	-
		id: file-header-font-size
		title: Tab title font size
		description: Accepts any CSS font-size value
		type: variable-text
		default: ''
	-
		id: file-header-font-weight
		title: Tab title font weight
		type: variable-number-slider
		default: 400
		min: 100
		max: 900
		step: 100
	-
		id: file-header-justify
		title: Tab title alignment
		type: variable-select
		default: center
		options:
			-
				label: Center
				value: center
			-
				label: Left
				value: left
	-
		id: inline-title
		title: Inline title
		type: heading
		level: 2
		collapsed: true
    - 
        id: inline-title-info
		description: Inline titles must be turned on in **Appearance** settings
        type: info-text
		markdown: true
	-
		id: inline-title-font
		title: Inline title font
		description: Name of the font as it appears on your system
		type: variable-text
		default: 'InstrumentSerif'
	-
		id: inline-title-size
		title: Inline title font size
		description: Accepts any CSS font-size value
		type: variable-text
		default: 1.802em
	-
		id: inline-title-weight
		title: Inline title font weight
		type: variable-number-slider
		default: 400
		min: 100
		max: 900
		step: 100
	-
		id: inline-title-color
		title: Inline title text color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: headings
		title: Headings
		type: heading
		level: 2
		collapsed: true
    - 
        id: heading-font-info
		title: Change all headings font
		description: Replace all headings font at once in **Appearance** settings - **Text font**
        type: info-text
		markdown: true
	-
		id: heading-spacing
		title: Heading spacing
		description: Space between paragraphs and headings in reading mode
		type: variable-text
		default: 2em
	-
		id: colorful-headings
		title: Colorful headings
		description: Headings use a different color for each size
		type: class-select
		default: colorful-headings-off
		options:
			-
				label: Disabled
				value: colorful-headings-off
			-
				label: Indicator
				value: colorful-headings-side
			-
				label: Full color
				value: colorful-headings-full
	-
		id: level-1-headings
		title: Level 1 Headings
		type: heading
		level: 3
		collapsed: true
	-
		id: h1-font
		title: H1 font
		description: Name of the font as it appears on your system
		type: variable-text
		default: 'InstrumentSerif'
	-
		id: h1-size
		title: H1 font size
		description: Accepts any CSS font-size value
		type: variable-text
		default: 1.802em
	-
		id: h1-weight
		title: H1 font weight
		type: variable-number-slider
		default: 400
		min: 100
		max: 900
		step: 100
	-
		id: h1-color
		title: H1 text color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: h1-variant
		title: H1 font variant
		type: variable-select
		allowEmpty: false
		default: normal
		options:
			-
				label: Normal
				value: normal
			-
				label: Small caps
				value: small-caps
			-
				label: All small caps
				value: all-small-caps 
	-
		id: h1-style
		title: H1 font style
		type: variable-select
		allowEmpty: false
		default: normal
		options:
			-
				label: Normal
				value: normal
			-
				label: Italic
				value: italic
	-
		id: h1-transform
		title: H1 text case
		type: variable-select
		allowEmpty: false
		default: normal
		options:
			-
				label: Normal
				value: normal
			-
				label: Capitalize
				value: capitalize
			-
				label: Uppercase
				value: uppercase
			-
				label: Lowercase
				value: lowercase
	-
		id: h1-l
		title: H1 divider line
		description: Adds a border below the heading
		type: class-toggle
		default: false
	-
		id: level-2-headings
		title: Level 2 Headings
		type: heading
		level: 3
		collapsed: true
	-
		id: h2-font
		title: H2 font
		description: Name of the font as it appears on your system
		type: variable-text
		default: 'InstrumentSerif'
	-
		id: h2-size
		title: H2 font size
		description: Accepts any CSS font-size value
		type: variable-text
		default: 1.602em
	-
		id: h2-weight
		title: H2 font weight
		type: variable-number-slider
		default: 400
		min: 100
		max: 900
		step: 100
	-
		id: h2-color
		title: H2 text color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: h2-variant
		title: H2 font variant
		type: variable-select
		allowEmpty: false
		default: normal
		options:
			-
				label: Normal
				value: normal
			-
				label: Small caps
				value: small-caps
			-
				label: All small caps
				value: all-small-caps
	-
		id: h2-style
		title: H2 font style
		type: variable-select
		allowEmpty: false
		default: normal
		options:
			-
				label: Normal
				value: normal
			-
				label: Italic
				value: italic
	-
		id: h2-transform
		title: H2 text case
		type: variable-select
		allowEmpty: false
		default: normal
		options:
			-
				label: Normal
				value: normal
			-
				label: Capitalize
				value: capitalize
			-
				label: Uppercase
				value: uppercase
			-
				label: Lowercase
				value: lowercase
	-
		id: h2-l
		title: H2 divider line
		description: Adds a border below the heading
		type: class-toggle
		default: false
	-
		id: level-3-headings
		title: Level 3 Headings
		type: heading
		level: 3
		collapsed: true
	-
		id: h3-font
		title: H3 font
		description: Name of the font as it appears on your system
		type: variable-text
		default: 'InstrumentSerif'
	-
		id: h3-size
		title: H3 font size
		description: Accepts any CSS font-size value
		type: variable-text
		default: 1.424em
	-
		id: h3-weight
		title: H3 font weight
		type: variable-number-slider
		default: 400
		min: 100
		max: 900
		step: 100
	-
		id: h3-color
		title: H3 text color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: h3-variant
		title: H3 font variant
		type: variable-select
		allowEmpty: false
		default: normal
		options:
			-
				label: Normal
				value: normal
			-
				label: Small caps
				value: small-caps
			-
				label: All small caps
				value: all-small-caps
	-
		id: h3-style
		title: H3 font style
		type: variable-select
		allowEmpty: false
		default: normal
		options:
			-
				label: Normal
				value: normal
			-
				label: Italic
				value: italic
	-
		id: h3-transform
		title: H3 text case
		type: variable-select
		allowEmpty: false
		default: normal
		options:
			-
				label: Normal
				value: normal
			-
				label: Capitalize
				value: capitalize
			-
				label: Uppercase
				value: uppercase
			-
				label: Lowercase
				value: lowercase
	-
		id: h3-l
		title: H3 divider line
		description: Adds a border below the heading
		type: class-toggle
		default: false
	-
		id: level-4-headings
		title: Level 4 Headings
		type: heading
		level: 3
		collapsed: true
	-
		id: h4-font
		title: H4 font
		description: Name of the font as it appears on your system
		type: variable-text
		default: 'InstrumentSerif'
	-
		id: h4-size
		title: H4 font size
		description: Accepts any CSS font-size value
		type: variable-text
		default: 1.266em
	-
		id: h4-weight
		title: H4 font weight
		type: variable-number-slider
		default: 400
		min: 100
		max: 900
		step: 100
	-
		id: h4-color
		title: H4 text color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: h4-variant
		title: H4 font variant
		type: variable-select
		allowEmpty: false
		default: small-caps
		options:
			-
				label: Normal
				value: normal
			-
				label: Small caps
				value: small-caps
			-
				label: All small caps
				value: all-small-caps 
	-
		id: h4-style
		title: H4 font style
		type: variable-select
		allowEmpty: false
		default: normal
		options:
			-
				label: Normal
				value: normal
			-
				label: Italic
				value: italic
	-
		id: h4-transform
		title: H4 text case
		type: variable-select
		allowEmpty: false
		default: normal
		options:
			-
				label: Normal
				value: normal
			-
				label: Capitalize
				value: capitalize
			-
				label: Uppercase
				value: uppercase
			-
				label: Lowercase
				value: lowercase
	-
		id: h4-l
		title: H4 divider line
		description: Adds a border below the heading
		type: class-toggle
		default: false   
	-
		id: level-5-headings
		title: Level 5 Headings
		type: heading
		level: 3
		collapsed: true
	-
		id: h5-font
		title: H5 font
		description: Name of the font as it appears on your system
		type: variable-text
		default: 'InstrumentSerif'
	- 
		id: h5-size
		title: H5 font size
		description: Accepts any CSS font-size value
		type: variable-text
		default: 1.125em
	-
		id: h5-weight
		title: H5 font weight
		type: variable-number-slider
		default: 400
		min: 100
		max: 900
		step: 100
	-
		id: h5-color
		title: H5 text color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: h5-variant
		title: H5 font variant
		type: variable-select
		allowEmpty: false
		default: small-caps
		options:
			-
				label: Normal
				value: normal
			-
				label: Small caps
				value: small-caps
			-
				label: All small caps
				value: all-small-caps 
	-
		id: h5-style
		title: H5 font style
		type: variable-select
		allowEmpty: false
		default: normal
		options:
			-
				label: Normal
				value: normal
			-
				label: Italic
				value: italic
	-
		id: h5-transform
		title: H5 text case
		type: variable-select
		allowEmpty: false
		default: normal
		options:
			-
				label: Normal
				value: normal
			-
				label: Capitalize
				value: capitalize
			-
				label: Uppercase
				value: uppercase
			-
				label: Lowercase
				value: lowercase
	-
		id: h5-l
		title: H5 divider line
		description: Adds a border below the heading
		type: class-toggle
		default: false
	-
		id: level-6-headings
		title: Level 6 Headings
		type: heading
		level: 3
		collapsed: true
	-
		id: h6-font
		title: H6 font
		description: Name of the font as it appears on your system
		type: variable-text
		default: 'InstrumentSerif'
	-
		id: h6-size
		title: H6 font size
		description: Accepts any CSS font-size value
		type: variable-text
		default: 1em
	-
		id: h6-weight
		title: H6 font weight
		type: variable-number-slider
		default: 400
		min: 100
		max: 900
		step: 100
	-
		id: h6-color
		title: H6 text color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: h6-variant
		title: H6 font variant
		type: variable-select
		allowEmpty: false
		default: small-caps
		options:
			-
				label: Normal
				value: normal
			-
				label: Small caps
				value: small-caps
			-
				label: All small caps
				value: all-small-caps
	-
		id: h6-style
		title: H6 font style
		type: variable-select
		allowEmpty: false
		default: normal
		options:
			-
				label: Normal
				value: normal
			-
				label: Italic
				value: italic
	-
		id: h6-transform
		title: H6 text case
		type: variable-select
		allowEmpty: false
		default: normal
		options:
			-
				label: Normal
				value: normal
			-
				label: Capitalize
				value: capitalize
			-
				label: Uppercase
				value: uppercase
			-
				label: Lowercase
				value: lowercase
	-
		id: h6-l
		title: H6 divider line
		type: class-toggle
		description: Adds a border below the heading
		default: false
	-
		id: properties
		title: Properties
		type: heading
		level: 2
		collapsed: true
	-
		id: metadata-style
		title: Properties style
		type: class-select
		allowEmpty: false
		default: metadata-default
		options:
			-
				label: Default
				value: metadata-default
			-
				label: Block
				value: metadata-block
			-
				label: Cupertino
				value: metadata-cupertino
	-
		id: metadata-heading-off
		title: Hide properties heading
		description: Hide "Properties" heading above properties
		type: class-toggle
		default: false
	-
		id: metadata-add-property-off
		title: Hide "Add property" button
		description: Hide "Add property" button below properties
		type: class-toggle
		default: false
	-
		id: metadata-icons-off
		title: Hide property icons
		description: Hide icons next to property names
		type: class-toggle
		default: false
	-
		id: metadata-label-width
		title: Property name width
		description: Width for the name of the property
		type: variable-number-slider
		default: 9
		format: em
		min: 4
		max: 20
		step: 0.5
	-
		id: blockwidth
		title: Block width
		type: heading
		level: 2
		collapsed: true
    - 
        id: block-width-info
		description: Readable line length must be set in Obsidian **Editor** settings
        type: info-text
		markdown: true
	-
		id: line-width
		title: Normal line width
		description: Number of characters per line
		type: variable-number
		default: 40
		format: rem
	-
		id: line-width-wide
		title: Wide line width
		description: Number of characters per line for wide elements
		type: variable-number
		default: 50
		format: rem
	-
		id: max-width
		title: Maximum line width %
		description: Number of characters per line
		type: variable-number
		default: 90
		format: '%'
	-
		id: chart-width
		title: Chart width
		description: Default width for chart blocks
		type: class-select
		allowEmpty: false
		default: chart-default-width
		options:
			-
				label: Default
				value: chart-default-width
			-
				label: Wide line width
				value: chart-wide
			-
				label: Maximum line width
				value: chart-max
			-
				label: 100% pane width
				value: chart-100
	-
		id: iframe-width
		title: Iframe width
		description: Default width for iframe blocks
		type: class-select
		allowEmpty: false
		default: iframe-default-width
		options:
			-
				label: Default
				value: iframe-default-width
			-
				label: Wide line width
				value: iframe-wide
			-
				label: Maximum line width
				value: iframe-max
			-
				label: 100% pane width
				value: iframe-100
	-
		id: image-width
		title: Image width
		description: Default width for image blocks
		type: class-select
		allowEmpty: false
		default: image-default-width
		options:
			-
				label: Default
				value: image-default-width
			-
				label: Wide line width
				value: image-wide
			-
				label: Maximum line width
				value: image-max
			-
				label: 100% pane width
				value: image-100
	-
		id: map-width
		title: Map width
		description: Default width for map blocks
		type: class-select
		allowEmpty: false
		default: map-default-width
		options:
			-
				label: Default
				value: map-default-width
			-
				label: Wide line width
				value: map-wide
			-
				label: Maximum line width
				value: map-max
			-
				label: 100% pane width
				value: map-100
	-
		id: table-width
		title: Table width
		description: Default width for table blocks
		type: class-select
		allowEmpty: false
		default: table-default-width
		options:
			-
				label: Default
				value: table-default-width
			-
				label: Wide line width
				value: table-wide
			-
				label: Maximum line width
				value: table-max
			-
				label: 100% pane width
				value: table-100

	-
		id: blockquotes
		title: Blockquotes
		type: heading
		level: 2
		collapsed: true
	-
		id: blockquote-color
		title: Blockquote text color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: blockquote-background-color
		title: Blockquote background color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: blockquote-border-color
		title: Blockquote border color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: blockquote-border-thickness
		title: Blockquote border thickness
		type: variable-number-slider
		format: px
		default: 2
		min: 0
		max: 5
		step: 1
	-
		id: blockquote-size
		title: Blockquote font size
		description: Accepts any CSS font-size value
		type: variable-text
		default: 1em
	-
		id: blockquote-font-style
		title: Blockquote font style
		type: variable-select
		allowEmpty: false
		default: normal
		options:
			-
				label: Normal
				value: normal
			-
				label: Italic
				value: italic
	-
		id: callouts
		title: Callouts
		type: heading
		level: 2
		collapsed: true
	-
		id: callouts-style
		title: Callout style
		type: class-select
		allowEmpty: false
		default: callouts-default
		options:
			-
				label: Filled
				value: callouts-default
			-
				label: Tactile
				value: callouts-tactile
			-
				label: Padded
				value: callouts-padded
			-
				label: Outlined
				value: callouts-outlined
	-
		id: callout-radius
		title: Callout Radius
		type: variable-number-slider
		default: 8
		min: 0
		max: 16
		step: 1
		format: px
	-
		id: callout-size
		title: Callout font size
		description: Accepts any CSS font-size value
		type: variable-text
		default: 1em
	-
		id: callout-blend-mode
		title: Color blending
		description: Blend the color of nested callouts
		type: variable-select
		allowEmpty: false
		default: var(--highlight-mix-blend-mode)
		options:
			-
				label: On
				value: var(--highlight-mix-blend-mode)
			-
				label: Off
				value: normal
	-
		id: canvas
		title: Canvas
		type: heading
		level: 2
		collapsed: true
	-
		id: canvas-background
		title: Canvas background
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: canvas-dot-pattern
		title: Canvas dot pattern
		description: Color for background dot pattern
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: code-blocks
		title: Code blocks
		type: heading
		level: 2
		collapsed: true
	-
		id: code-size
		title: Code font size
		description: Accepts any CSS font-size value
		type: variable-text
		default: ''
	-
		id: code-line-numbers
		title: Code line numbers
		description: Line numbers for code blocks
		type: class-toggle
		default: false
	-
		id: code-scroll
		title: Scroll long lines
		description: Turns off line wrap for code blocks
		type: class-toggle
		default: false
	-
		id: code-background
		title: Code background color
		description: Background for code blocks
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: code-normal
		title: Code text color
		description: Color of code when syntax highlighting is not present
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: syntax-highlighting
		title: Syntax highlighting
		type: heading
		level: 2
		collapsed: true
	-
		id: code-comment
		title: "Syntax: comments"
		description: Syntax highlighting for comments
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: code-function
		title: "Syntax: functions"
		description: Syntax highlighting for functions
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: code-keyword
		title: "Syntax: keywords"
		description: Syntax highlighting for keywords
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: code-important
		title: "Syntax: important"
		description: Syntax highlighting for important text
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: code-operator
		title: "Syntax: operators"
		description: Syntax highlighting for operators
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: code-property
		title: "Syntax: properties"
		description: Syntax highlighting for properties
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: code-punctuation
		title: "Syntax: punctuation"
		description: Syntax highlighting for punctuation
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: code-string
		title: "Syntax: strings"
		description: Syntax highlighting for strings
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: code-tag
		title: "Syntax: tags"
		description: Syntax highlighting for tags
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: code-value
		title: "Syntax: values"
		description: Syntax highlighting for values
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: embed-blocks
		title: Embeds
		type: heading
		level: 2
		collapsed: true
	-
		id: embed-strict
		title: Use strict embed style globally
		description: Embeds appear seamlessly in the flow of text. Can be enabled per file using the embed-strict helper class
		type: class-toggle
		default: false
	-
		id: embed-hide-title
		title: Hide embed titles
		description: Hide title of the embed file
		type: class-toggle
		default: false
	-
		id: embed-max-height
		title: Maximum height of embeds
		type: variable-text
		description: Accepts valid CSS units
		default: ''
	-
		id: embed-background
		title: Embed background
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: links
		title: Links
		type: heading
		level: 2
		collapsed: true
	-
		id: link-color
		title: Internal link color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: link-color-hover
		title: Internal link color (hover)
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: link-decoration
		title: Internal link underline
		type: variable-select
		allowEmpty: false
		default: none
		options:
			-
				label: Underline
				value: underline
			-
				label: None
				value: none
	-
		id: link-external-color
		title: External link color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: link-external-color-hover
		title: External link color (hover)
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: link-external-decoration
		title: External link underline
		type: variable-select
		allowEmpty: false
		default: none
		options:
			-
				label: Underline
				value: underline
			-
				label: None
				value: none
	-
		id: lists
		title: Lists
		type: heading
		level: 2
		collapsed: true
    -
        id: list-spacing
        title: List spacing
        type: variable-number
        default: 0.075
        format: em
    -
        id: list-marker-color
        title: List bullet color
        type: variable-themed-color
        default-light: '#'
        default-dark: '#'
        format: hex
    -
        id: list-numbered-style
        title: Ordered list style
        type: variable-select
        default: decimal
        options:
            -
                label: Decimal
                value: decimal
            -
                label: Decimal with leading zeroes
                value: decimal-leading-zero
            -
                label: Lowercase alphabetical
                value: lower-alpha
            -
                label: Uppercase alphabetical
                value: upper-alpha
            -
                label: Lowercase Roman Numerals
                value: lower-roman
            -
                label: Uppercase Roman Numerals
                value: upper-roman
            -
                label: Lowercase Latin
                value: lower-latin
            -
                label: Uppercase Latin
                value: upper-latin
            -
                label: Lowercase Greek
                value: lower-greek
            -
                label: Uppercase Greek
                value: upper-greek
            -
                label: Hiragana
                value: hiragana
            -
                label: Hiragana Iroha
                value: hiragana-iroha
            -
                label: Katakana
                value: katakana
            -
                label: Katakana Iroha
                value: katakana-iroha
            -
                label: Armenian
                value: armenian
            -
                label: CJK Ideographic
                value: cjk-ideographic
            -
                label: Hebrew
                value: hebrew
	-
		id: strike-lists-off
		title: Disable strike completed tasks
		description: Removes strikethrough line for completed tasks
		type: class-toggle
		default: false
	-
		id: media
		title: Media
		type: heading
		level: 2
		collapsed: true
	-
		id: img-grid
		title: Image grids
		description: Turns consecutive images into columns — to make a new row, add an extra line break between images
		type: class-toggle
	-
		id: media-radius
		title: Media radius
		description: Rounded corners for images and videos
		type: variable-number-slider
		default: 4
		min: 0
		max: 16
		step: 1
		format: px
	-
		id: media-muted
		title: Media opacity in dark mode
		description: Level of fading for media in dark mode. Hover over media to display at full brightness.
		type: variable-number-slider
		default: 1
		min: 0.2
		max: 1
		step: 0.1
	-
		id: full-width-media-off
		title: Disable maximized media
		description: Turns off images and videos fill the width of the line
		type: class-toggle
	-
		id: zoom-off
		title: Disable image zoom
		description: Turns off click + hold to zoom images
		type: class-toggle
	-
		id: paragraphs
		title: Paragraphs
		type: heading
		level: 2
		collapsed: true
	-
		id: p-spacing
		title: Paragraph spacing
		description: Space between paragraphs in reading mode
		type: variable-text
		default: 1.75rem
	-
		id: bold-modifier
		title: Bold text weight modifier
		type: variable-number-slider
		default: 300
		min: 100
		max: 500
		step: 100
	-
		id: pdf
		title: PDFs
		type: heading
		level: 2
		collapsed: true
	-
		id: pdf-page-style
		title: PDF page style
		description: Borders and shadows around pages
		type: class-select
		allowEmpty: false
		default: pdf-seamless
		options:
			-
				label: Seamless
				value: pdf-seamless
			-
				label: Shadows
				value: pdf-shadows
	-
		id: pdf-muted
		title: PDF opacity in dark mode
		description: Level of fading for PDF pages in dark mode. Hover over a page to display at full brightness.
		type: variable-number-slider
		default: 1
		min: 0.2
		max: 1
		step: 0.1
	-
		id: pdf-invert-dark
		title: Invert PDFs in dark mode
		description: Best for working with black text on white pages
		type: class-toggle
		default: false
	-
		id: tables
		title: Tables
		type: heading
		level: 2
		collapsed: true
	-
		id: table-text-size
		title: Table font size
		description: All of the following settings apply to all tables globally. To turn on these features on a per-note basis use helper classes. See documentation.
		type: variable-text
		default: 1em
	-
		id: row-lines
		title: Row lines
		description: Display borders between table rows globally
		type: class-toggle
		default: false
	-
		id: col-lines
		title: Column lines
		description: Display borders between table columns globally
		type: class-toggle
		default: false
	-
		id: table-lines
		title: Cell lines
		description: Display borders around all table cells globally
		type: class-toggle
		default: false 
	-
		id: row-alt
		title: Striped rows
		description: Display striped background in alternating table rows globally
		type: class-toggle
		default: false
	-
		id: col-alt
		title: Striped columns
		description: Display striped background in alternating table columns globally
		type: class-toggle
		default: false
	-
		id: table-tabular
		title: Tabular figures
		description: Use fixed width numbers in tables globally
		type: class-toggle
		default: false
	-
		id: table-numbers
		title: Row numbers
		description: Display row numbers in tables globally
		type: class-toggle
		default: false
	-
		id: table-nowrap
		title: Disable line wrap
		description: Turns off line wrapping in table cells globally
		type: class-toggle
		default: false
	-
		id: table-text-align-header
		title: Table header text alignment
		type: variable-select
		allowEmpty: false
		default: start
		options:
			-
				label: Start
				value: start
			-
				label: Center
				value: center
			-
				label: End
				value: end
	-
		id: table-text-align-body
		title: Table body text alignment
		type: variable-select
		allowEmpty: false
		default: start
		options:
			-
				label: Start
				value: start
			-
				label: Center
				value: center
			-
				label: End
				value: end
	-
		id: row-hover
		title: Highlight active row
		description: Highlight rows on hover
		type: class-toggle
		default: false
	-
		id: tags
		title: Tags
		type: heading
		level: 2
		collapsed: true
	-
		id: unstyled-tags
		title: Plain tags
		description: Tags will render as normal text, overrides settings below
		type: class-toggle
		default: false
	-
		id: tag-radius
		title: Tag shape
		type: variable-select
		default: 8px
		options:
			-
				label: Pill
				value: 16px
			-
				label: Rounded
				value: 8px
			-
				label: Square
				value: 0px
	-
		id: tag-border-width
		title: Tag border width
		type: variable-number-slider
		default: 0
		min: 0
		max: 2
		step: 1
		format: px
	-
		id: tag-color
		title: Tag text color
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: tag-background
		title: Tag background color
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: tag-background-hover
		title: Tag background color (hover)
		type: variable-themed-color
		opacity: true
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: tasks
		title: Tasks
		type: heading
		level: 2
		collapsed: true
	-
		id: checkbox-color
		title: Checkbox color
		description: Background color for completed tasks
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: checkbox-radius
		title: Checkbox shape
		type: variable-select
		allowEmpty: false
		default: 4px
		options:
			-
				label: Rounded
				value: 4px
			-
				label: Circle
				value: 100px
	-
		id: integrations
		title: Integrations
		type: heading
		level: 1
		collapsed: true
	-
		id: cards
		title: Cards
		type: heading
		level: 2
		collapsed: true
	-
		id: cards-min-width
		title: Card minimum width
		type: variable-text
		default: 160px
	-
		id: cards-max-width
		title: Card maximum width
		description: Default fills the available width, accepts valid CSS units
		type: variable-text
		default: 1fr
	-
		id: cards-mobile-width
		title: Card minimum width on mobile
		type: variable-text
		default: 120px
	-
		id: cards-padding
		title: Card padding
		type: variable-text
		default: 4px
	-
		id: cards-image-height
		title: Card maximum image height
		type: variable-text
		default: 400px
	- 
		id: cards-background
		title: Card background color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	- 
		id: cards-background-hover
		title: Card background color (hover)
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: graphs
		title: Graphs
		type: heading
		level: 2
		collapsed: true
    - 
        id: graphs-info
		description: Requires closing and reopening graph panes or restarting Obsidian to apply changes
        type: info-text
	-
		id: graph-line
		title: Line color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: graph-node
		title: Node color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-
		id: graph-node-focused
		title: Active node color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-  
		id: graph-node-tag
		title: Tag node color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-  
		id: graph-node-attachment
		title: Attachment node color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'
	-  
		id: graph-node-unresolved
		title: Unresolved node color
		type: variable-themed-color
		format: hex
		default-light: '#'
		default-dark: '#'

*/

.style-settings-container .themed-color-wrapper > div {
  background-color: transparent;
  color: var(--color-base-100);
  gap: 8px;

  .pickr-reset > button {
    color: var(--color-base-100);
    background-color: var(--color-base-10);
    margin: 0;
  }
}
.themed-color-wrapper {
  display: flex;
}
.themed-color-wrapper > div + div {
  margin-top: 0;
}
.style-settings-heading,
.style-settings-container {
  padding-left: 32px;
  margin-top: 0 !important	;
  margin-bottom: 0 !important;
}

.style-settings-container .pickr .pcr-button {
  box-shadow: none;

  &::before {
    background: var(--color-base-50);
    border-radius: var(--button-radius);
  }

  &::after {
    border-radius: var(--button-radius);
  }
}

// Credits
body .style-settings-container .setting-item[data-id] .setting-item-control::before {
  font-size: var(--font-ui-smaller);
  color: var(--text-faint);
  margin-inline-end: 4px;
  max-width: 10em;
}

body.ayu-light .style-settings-container .setting-item[data-id="color-scheme-light"] .setting-item-control::before,
body.ayu-dark .style-settings-container .setting-item[data-id="color-scheme-dark"] .setting-item-control::before {
  content: "Author: Konstantin Pschera (k15a)";
}
body.admin-light .style-settings-container .setting-item[data-id="color-scheme-light"] .setting-item-control::before,
body.admin-dark .style-settings-container .setting-item[data-id="color-scheme-dark"] .setting-item-control::before,
body.metadata-block .style-settings-container .setting-item[data-id="metadata-style"] .setting-item-control::before {
  content: "Author: Bradley Wyatt (bwya77)";
}
body.catppuccin-light .style-settings-container .setting-item[data-id="color-scheme-light"] .setting-item-control::before,
body.catppuccin-dark .style-settings-container .setting-item[data-id="color-scheme-dark"] .setting-item-control::before {
  content: "Author: Catppuccin";
}
body.dracula-light .style-settings-container .setting-item[data-id="color-scheme-light"] .setting-item-control::before,
body.dracula-dark .style-settings-container .setting-item[data-id="color-scheme-dark"] .setting-item-control::before {
  content: "Author: Dracula";
}
body.everforest-light .style-settings-container .setting-item[data-id="color-scheme-light"] .setting-item-control::before,
body.everforest-dark .style-settings-container .setting-item[data-id="color-scheme-dark"] .setting-item-control::before {
  content: "Author: Sainnhe Park (sainnhe)";
}
body.flexoki-light .style-settings-container .setting-item[data-id="color-scheme-light"] .setting-item-control::before,
body.flexoki-dark .style-settings-container .setting-item[data-id="color-scheme-dark"] .setting-item-control::before,
body.notion-light .style-settings-container .setting-item[data-id="color-scheme-light"] .setting-item-control::before,
body.notion-dark .style-settings-container .setting-item[data-id="color-scheme-dark"] .setting-item-control::before {
  content: "Author: Steph Ango (kepano)";
}
body.gruvbox-light .style-settings-container .setting-item[data-id="color-scheme-light"] .setting-item-control::before,
body.gruvbox-dark .style-settings-container .setting-item[data-id="color-scheme-dark"] .setting-item-control::before {
  content: "Author: Pavel Pertsev (morhetz)";
}
body.frappe-dark .style-settings-container .setting-item[data-id="color-scheme-dark"] .setting-item-control::before,
body.latte-light .style-settings-container .setting-item[data-id="color-scheme-light"] .setting-item-control::before,
body.macchiato-dark .style-settings-container .setting-item[data-id="color-scheme-dark"] .setting-item-control::before,
body.mocha-dark .style-settings-container .setting-item[data-id="color-scheme-dark"] .setting-item-control::before {
  content: "Author: AnubisNekhet";
}
body.melange-light .style-settings-container .setting-item[data-id="color-scheme-light"] .setting-item-control::before,
body.melange-dark .style-settings-container .setting-item[data-id="color-scheme-dark"] .setting-item-control::before {
  content: "Author: Sergio A. Vargas (savq)";
}
body.nord-light .style-settings-container .setting-item[data-id="color-scheme-light"] .setting-item-control::before,
body.nord-dark .style-settings-container .setting-item[data-id="color-scheme-dark"] .setting-item-control::before {
  content: "Author: Sven Greb (svengreb)";
}
body.rose-pine-light .style-settings-container .setting-item[data-id="color-scheme-light"] .setting-item-control::before,
body.rose-pine-dark .style-settings-container .setting-item[data-id="color-scheme-dark"] .setting-item-control::before {
  content: "Author: Rose Pine";
}
body.solarized-light .style-settings-container .setting-item[data-id="color-scheme-light"] .setting-item-control::before,
body.solarized-dark .style-settings-container .setting-item[data-id="color-scheme-dark"] .setting-item-control::before {
  content: "Author: Ethan Schoonover (altercation)";
}
body.layout-frame .style-settings-container .setting-item[data-id="layout-style"] .setting-item-control::before {
  content: "Author: Iridium from kyffa";
}
