body {
  --header-height: 48px;

  --tab-curve: 12px;
  --tab-outline-width: 0px;
  --tab-radius-active: var(--tab-radius) var(--tab-radius) 0 0;

  --tab-text-color-focused: var(--tab-text-color);
}

body.is-mobile {
  --header-height: 56px;
}

// All panels
.workspace-tab-header-container {
  padding-top: 8px;
}
.sidebar-toggle-button {
  height: unset;
  display: block;
}
.sidebar-toggle-button .clickable-icon {
  width: fit-content;
}

// Editor panel
.workspace .mod-root {
  .workspace-tab-header-container {
    padding-left: 0;
  }
  .workspace-tab-header-container-inner {
    padding: 0 8px 0 16px;
    margin: 0;
    gap: 8px;
  }
  .mod-top-left-space .workspace-tab-header-container-inner {
    padding-left: 8px;
  }
  .workspace-tab-header {
    padding: 0 0 8px;
  }
  .workspace-tab-header-inner {
    padding-inline-start: 8px;
    padding-inline-end: 8px;
  }
  .workspace-tab-header-inner::after {
    content: none;
  }
  .workspace-tab-header-inner-title {
    line-height: 1;
  }

  .sidebar-toggle-button {
    padding: 0 0 8px;
  }
  .sidebar-toggle-button .clickable-icon {
    height: 100%;
  }

  .workspace-tab-header-new-tab {
    margin-inline-end: 0;
    margin-inline-start: 0;
  }
  .workspace-tab-header-tab-list {
    margin-inline-end: 0;
  }
  .workspace-tab-header-new-tab,
  .workspace-tab-header-tab-list {
    display: block;
    padding: 0 0 8px;
  }
  .workspace-tab-header-new-tab .clickable-icon,
  .workspace-tab-header-tab-list .clickable-icon {
    padding: 8px;
    height: 100%;
  }
}

// Editor panel: Cupertino
body.tabs-cupertino .workspace .mod-root {
  --tab-radius-active: var(--tab-radius);
  --tab-curve: 0;

  .workspace-tab-header-container-inner {
    padding: 0 0 8px 8px;
    gap: 4px;
  }
  .workspace-tab-header {
    padding: 0;
  }
}

// Editor panel: Underline
body.tabs-underline .workspace .mod-root {
  --tab-background-active: transparent;
  --tab-curve: 12px;

  .workspace-tab-header-container-inner {
    padding: 0 0 0 8px;
    gap: 0;
  }
  .workspace-tab-header.is-active {
    border-bottom: 2px solid var(--color-accent);
    padding-top: 1px;
  }
  .workspace-tab-header:not(.is-active):hover {
    border-bottom: 2px solid var(--background-modifier-border-hover);
    padding-top: 1px;

    .workspace-tab-header-inner {
      background-color: transparent;
    }
  }
}

// Editor panel: Stacks
.tab-stack-top-flipped {
  --tab-stacked-text-transform: rotate(180deg);
  --tab-stacked-text-align: right;
}
.tab-stack-center {
  --tab-stacked-text-align: center;
}
.tab-stack-center-flipped {
  --tab-stacked-text-transform: rotate(180deg);
  --tab-stacked-text-align: center;
}
.tab-stack-bottom {
  --tab-stacked-text-transform: rotate(180deg);
}
.tab-stack-bottom-flipped {
  --tab-stacked-text-align: right;
}
.workspace .mod-root .workspace-tabs.mod-stacked .workspace-tab-container .workspace-tab-header-inner {
  flex-direction: var(--tab-stacked-spine-order);
}

// Side panels
.workspace .mod-sidedock {
  .workspace-tab-header-container {
    padding-left: 0;
    padding-bottom: 8px;
    transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
  }
  .workspace-tab-header-container-inner {
    -webkit-app-region: no-drag;
    padding: 0 8px;
    margin: 0;
    gap: 2px;
  }

  .sidebar-toggle-button {
    position: relative;
    padding: 0;
  }

  .workspace-tab-header {
    --icon-color: var(--text-faint);
    transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
    height: calc-size(auto, size);
  }
  .workspace-tab-header.is-active {
    background-color: inherit;
  }
  .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner {
    background-color: inherit;
  }
  .workspace-tab-header-inner {
    gap: 8px;
  }
  .workspace-tab-header-inner-icon,
  .workspace-tab-header-inner-title {
    transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
  }
}

// Side panels: Compact tabs
body:not(.compact-tabs-off) .workspace .mod-sidedock {
  .workspace-tabs:not(.mod-top) .workspace-tab-header-container:not(:hover) {
    height: calc-size(auto, size);

    .workspace-tab-header {
      background-color: var(--background-modifier-hover);
      height: 4px;
    }

    .workspace-tab-header-inner-icon,
    .workspace-tab-header-inner-title {
      opacity: 0;
    }
  }
}

// Side panels: Tab names
body.tab-names-on {
  --sidebar-tab-text-display: flex;
}
body.tab-names-single .workspace-tab-header:only-child {
  --sidebar-tab-text-display: flex;
}

// Side panels: Platforms

body .mod-sidedock .workspace-tabs.mod-top-left-space .workspace-tab-header-container {
  padding-left: 8px !important;
}
body .mod-sidedock .workspace-tabs.mod-top-right-space .workspace-tab-header-container {
  padding-right: var(--frame-right-space);
}

body.mod-macos.is-hidden-frameless:not(.is-popout-window) .workspace {
  .workspace-tabs.mod-top-right-space .workspace-tab-header-container {
    padding-right: 8px;
  }

  .sidebar-toggle-button.mod-right {
    position: relative;
    padding-right: 0;
  }
}

body.is-tablet {
  .workspace-tab-header-tab-list .clickable-icon,
  .workspace-tab-header-new-tab .clickable-icon {
    --icon-size: var(--icon-l);
    --icon-stroke: var(--icon-l-stroke-width);
  }
}
