body.theme-light.contrast-light-white {
  --background-primary: white;
  --background-primary-alt: var(--color-base-05);
  --background-secondary: white;
}

body.theme-light.contrast-light-tonal {
  --background-primary: var(--background-secondary);
}

body.theme-dark.contrast-dark-tonal {
  --background-secondary: var(--background-primary);
}

body.theme-dark.contrast-dark-black {
  --background-primary: black;
  --background-primary-alt: var(--color-base-05);
  --background-secondary: black;
  --system-status-background: var(--background-primary);
}

body.theme-light.contrast-light-vivid {
  .mod-root .workspace-tab-header-container {
    background-color: var(--background-secondary);
  }
  .mod-root .workspace-tab-header-container::before {
    content: "";
    position: absolute;
    inset: -100vh 0;
    background: var(--background-secondary);
    pointer-events: none;
  }

  &:not(.accented-interface) {
    .titlebar,
    .status-bar,
    .mod-sidedock,
    .mod-root .workspace-tab-header-container::before,
    .mod-root .workspace-tab-header-container > div:not(.workspace-tab-header-container-inner) {
      --interactive-accent: rgb(var(--mono-rgb-100));
      --interactive-accent-hover: rgba(var(--mono-rgb-100), 0.8);
      --text-on-accent: var(--color-base-00);
      --text-on-accent-inverted: var(--color-base-10);
    }
  }

  &:not(.nav-item-subtle, .nav-item-strong) .mod-sidedock {
    --nav-item-background-hover: transparent;
    --nav-item-background-active: transparent;
    --nav-item-weight-hover: var(--font-medium);
  }
  &.nav-item-strong .mod-sidedock {
    --nav-item-background-active: var(--interactive-accent);
    --nav-item-color-active: var(--text-on-accent);
  }

  .titlebar,
  .status-bar,
  .workspace::before,
  .mod-sidedock,
  .mod-root .workspace-tab-header-container::before,
  .mod-root .workspace-tab-header-container > div:not(.workspace-tab-header-container-inner) {
    --collapse-icon-color: var(--text-faint);
    --collapse-icon-color-collapsed: var(--text-accent);
    --divider-color: var(--background-modifier-border);
    --divider-color-hover: var(--interactive-accent);
    --graph-text: var(--text-normal);
    --graph-line: var(--color-base-35, var(--background-modifier-border-focus));
    --graph-node: var(--text-muted);
    --graph-node-unresolved: var(--text-faint);
    --graph-node-focused: var(--text-accent);
    --heading-formatting: var(--text-faint);
    --hr-color: var(--background-modifier-border);
    --icon-color: var(--text-muted);
    --icon-color-hover: var(--text-muted);
    --icon-color-active: var(--text-accent);
    --icon-color-focused: var(--text-normal);
    --indentation-guide-color: rgba(var(--mono-rgb-100), 0.12);
    --indentation-guide-color-active: rgba(var(--mono-rgb-100), 0.3);
    --link-color: var(--text-accent);
    --link-color-hover: var(--text-accent-hover);
    --list-marker-color: var(--text-faint);
    --list-marker-color-hover: var(--text-muted);
    --list-marker-color-collapsed: var(--text-accent);
    --nav-item-color: var(--text-muted);
    --nav-item-color-hover: var(--text-normal);
    --nav-item-color-active: var(--text-normal);
    --nav-item-color-selected: var(--text-normal);
    --nav-item-color-highlighted: var(--text-accent);
    --nav-item-background-hover: var(--background-modifier-hover);
    --nav-item-background-active: var(--background-modifier-hover);
    --nav-indentation-guide-color: var(--indentation-guide-color);
    --nav-collapse-icon-color: var(--collapse-icon-color);
    --nav-collapse-icon-color-collapsed: var(--text-faint);
    --nav-heading-color: var(--text-normal);
    --nav-heading-color-hover: var(--text-normal);
    --nav-heading-color-collapsed: var(--text-faint);
    --nav-heading-color-collapsed-hover: var(--text-muted);
    --nav-heading-weight: var(--font-medium);
    --nav-heading-weight-hover: var(--font-medium);
    --metadata-border-color: var(--background-modifier-border);
    --metadata-divider-color: var(--background-modifier-border);
    --metadata-property-background-active: var(--background-modifier-hover);
    --metadata-label-background-active: var(--background-modifier-hover);
    --metadata-label-text-color: var(--text-muted);
    --metadata-label-text-color-hover: var(--text-muted);
    --metadata-input-text-color: var(--text-normal);
    --metadata-input-background-active: var(--background-modifier-hover);
    --modal-background: var(--background-primary);
    --ribbon-background: var(--background-secondary);
    --ribbon-background-collapsed: var(--background-primary);
    --search-result-background: var(--background-primary);
    --status-bar-background: var(--background-secondary);
    --status-bar-border-color: var(--divider-color);
    --status-bar-text-color: var(--text-muted);
    --tab-background-active: var(--background-primary);
    --tab-text-color: var(--text-faint);
    --tab-text-color-active: var(--text-muted);
    --tab-text-color-focused: var(--text-faint);
    --tab-text-color-focused-active: var(--text-muted);
    --tab-text-color-focused-highlighted: var(--text-accent);
    --tab-text-color-focused-active-current: var(--text-normal);
    --tab-container-background: var(--background-secondary);
    --tab-divider-color: var(--background-modifier-border-hover);
    --tab-outline-color: var(--divider-color);
    --titlebar-background: var(--background-secondary);
    --titlebar-border-color: var(--background-modifier-border);
    --titlebar-text-color: var(--text-muted);
    --titlebar-text-color-focused: var(--text-normal);
    --vault-profile-font-size: var(--font-ui-small);
    --vault-profile-font-weight: var(--font-medium);
    --vault-profile-color: var(--text-normal);
    --vault-profile-color-hover: var(--vault-profile-color);
    --background-primary: var(--color-base-00);
    --background-primary-alt: var(--color-base-10);
    --background-secondary: var(--color-base-20);
    --background-modifier-hover: rgba(var(--mono-rgb-100), 0.075);
    --background-modifier-border: var(--color-base-30);
    --background-modifier-border-hover: var(--color-base-35);
    --background-modifier-border-focus: var(--color-base-40);
    --background-modifier-form-field: var(--color-base-00);
    --text-normal: var(--color-base-100);
    --text-muted: var(--color-base-70);
    --text-faint: var(--color-base-50);

    --mono-rgb-0: 0, 0, 0;
    --mono-rgb-100: 255, 255, 255;
    --color-base-00: #1e1e1e;
    --color-base-05: #212121;
    --color-base-10: #242424;
    --color-base-20: #262626;
    --color-base-25: #2a2a2a;
    --color-base-30: #363636;
    --color-base-35: #3f3f3f;
    --color-base-40: #555555;
    --color-base-50: #666666;
    --color-base-60: #999999;
    --color-base-70: #b3b3b3;
    --color-base-100: #dadada;
    --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
    --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    --color-accent-1: hsl(calc(258 - 3), calc(88% * 1.02), calc(66% * 1.15));
    --color-accent-2: hsl(calc(258 - 5), calc(88% * 1.05), calc(66% * 1.29));
    --background-modifier-form-field: var(--color-base-25);
    --background-secondary-alt: var(--color-base-30);
    --interactive-hover: var(--color-base-35);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-cover: rgba(10, 10, 10, 0.4);
  }
}
