/*
Gruvbox
MIT License
https://github.com/morhetz/gruvbox
*/

.theme-light.gruvbox-light.color-scheme-accent,
.theme-dark.gruvbox-dark.color-scheme-accent {
  --accent-h: 24;
  --accent-s: 88%;
  --accent-l: 45%;
}
.theme-light.gruvbox-light,
.theme-dark.gruvbox-dark {
  --color-red-rgb: 204, 36, 29;
  --color-orange-rgb: 214, 93, 14;
  --color-yellow-rgb: 215, 153, 33;
  --color-green-rgb: 152, 151, 26;
  --color-cyan-rgb: 104, 157, 106;
  --color-blue-rgb: 69, 133, 136;
  --color-purple-rgb: 177, 98, 134;
  --color-pink-rgb: 177, 98, 134;

  --color-red: #cc241d;
  --color-orange: #d65d0e;
  --color-yellow: #d79921;
  --color-green: #98971a;
  --color-cyan: #689d6a;
  --color-blue: #458588;
  --color-purple: #b16286;
  --color-pink: #b16286;
}

.theme-light.gruvbox-light {
  --background-primary: #fcf2c7;
  --background-secondary: #f2e6bd;
  --interactive-normal: #ebd9b3;

  --background-modifier-border: #ebdbb2;
  --background-modifier-border-hover: #d5c4a1;
  --background-modifier-border-focus: #bdae93;

  --text-normal: #282828;
  --text-muted: #7c7065;
  --text-faint: #a89a85;

  --text-selection: rgba(192, 165, 125, 0.3);
  --text-highlight-bg: rgba(215, 153, 33, 0.4);
}
.theme-light.gruvbox-light.contrast-light-tonal {
  --background-secondary: #fcf2c7;
}
.theme-light.gruvbox-light.contrast-light-white {
  --interactive-normal: #faf5d7;
  --background-modifier-border: #f2e6bd;
}

.theme-dark.gruvbox-dark,
.theme-light.gruvbox-light.contrast-light-vivid .titlebar,
.theme-light.gruvbox-light.contrast-light-vivid .status-bar,
.theme-light.gruvbox-light.contrast-light-vivid .workspace::before,
.theme-light.gruvbox-light.contrast-light-vivid .workspace-ribbon,
.theme-light.gruvbox-light.contrast-light-vivid .mod-sidedock,
.theme-light.gruvbox-light.contrast-light-vivid .mod-root .workspace-tab-header-container,
.theme-light.gruvbox-light.contrast-light-vivid .mod-root .workspace-tab-header-container::before {
  --background-primary: #282828;
  --background-secondary: #1e2021;
  --interactive-normal: #3d3836;
  --interactive-normal: rgba(62, 57, 55, 0.5);

  --background-modifier-border: #3c3836;
  --background-modifier-border-hover: #504945;
  --background-modifier-border-focus: #665c54;

  --text-normal: #fbf1c7;
  --text-muted: #bdae93;
  --text-faint: #7c6f64;

  --text-selection: rgba(173, 149, 139, 0.3);
  --text-highlight-bg: rgba(215, 153, 33, 0.4);
}
.theme-dark.gruvbox-dark.contrast-dark-black {
  --text-selection: rgba(173, 149, 139, 0.4);
  --background-modifier-border: #282828;
}
