.theme-light.latte-light.color-scheme-accent {
  --accent-h: 11;
  --accent-s: 58%;
  --accent-l: 69%;
}
.theme-light.latte-light {
  --color-pink: #ec83d0;
  --color-red: #d20f39;
  --color-orange: #fe640b;
  --color-yellow: #e49320;
  --color-green: #40a02b;
  --color-cyan: #04a5e5;
  --color-blue: #2a6ef5;
  --color-purple: #7287fd;
  --color-pink-rgb: 236, 131, 208;
  --color-red-rgb: 210, 15, 57;
  --color-orange-rgb: 254, 100, 11;
  --color-yellow-rgb: 228, 147, 32;
  --color-green-rgb: 64, 160, 43;
  --color-cyan-rgb: 4, 165, 229;
  --color-blue-rgb: 42, 110, 245;
  --color-purple-rgb: 114, 135, 253;

  --color-base-100: #4c4f69;
  --color-base-70: #6c6f85;
  --color-base-60: #7c7f93;
  --color-base-50: #8c8fa1;
  --color-base-40: #9ca0b0;
  --color-base-35: #acb0be;
  --color-base-30: #bcc0cc;
  --color-base-25: #ccd0da;
  --color-base-20: #eff1f5;
  --color-base-10: #e6e9ef;
  --color-base-00: #dce0e8;
  --text-normal: var(--color-base-100);
  --background-secondary: var(--color-base-10);
  --background-secondary-alt: var(--color-base-20);
}
