.theme-light.latte-light {
  --color-pink: #ec83d0;
  --color-red: #d20f39;
  --color-orange: #fe640b;
  --color-yellow: #e49320;
  --color-green: #40a02b;
  --color-cyan: #04a5e5;
  --color-blue: #2a6ef5;
  --color-purple: #7287fd;
  --text-normal: #4c4f69;
  --color-base-100: #4c4f69;
  --color-base-70: #6c6f85;
  --color-base-60: #7c7f93;
  --color-base-50: #8c8fa1;
  --color-base-40: #9ca0b0;
  --color-base-35: #acb0be;
  --color-base-30: #bcc0cc;
  --color-base-25: #ccd0da;
  --color-base-20: #eff1f5;
  --color-base-10: #e6e9ef;
  --color-base-00: #dce0e8;
  --text-faint: #6c6f85;
  --text-muted: #7c7f93;
  --background-primary: #eff1f5;
  --background-primary-alt: #e6e9ef;
  --background-secondary: #e6e9ef;
  --background-secondary-alt: #dce0e8
};
