/* macOS */
.theme-light.macos-light.color-scheme-accent,
.theme-dark.macos-dark.color-scheme-accent {
  --accent-h: 219;
  --accent-s: 92%;
  --accent-l: 58%;
}
.theme-light.macos-light {
  --color-red-rgb: 255, 59, 48;
  --color-red: #ff3b30;
  --color-orange-rgb: 255, 149, 0;
  --color-orange: #ff9500;
  --color-yellow-rgb: 255, 204, 0;
  --color-yellow: #ffcc00;
  --color-green-rgb: 40, 205, 65;
  --color-green: #28cd41;
  --color-cyan-rgb: 85, 190, 240;
  --color-cyan: #55bef0;
  --color-blue-rgb: 0, 122, 255;
  --color-blue: #007aff;
  --color-purple-rgb: 175, 82, 222;
  --color-purple: #af52de;
  --color-pink-rgb: 255, 45, 85;
  --color-pink: #ff2d55;

  --background-primary: #fff;
  --background-secondary: #ededec;

  --background-modifier-border: rgba(0, 0, 0, 0.05);
}

.theme-dark.macos-dark {
  --color-red-rgb: 255, 69, 58;
  --color-red: #ff453a;
  --color-orange-rgb: 255, 159, 10;
  --color-orange: #ff9f0a;
  --color-yellow-rgb: 255, 214, 10;
  --color-yellow: #ffd60a;
  --color-green-rgb: 50, 215, 75;
  --color-green: #32d74b;
  --color-cyan-rgb: 90, 200, 245;
  --color-cyan: #5ac8f5;
  --color-blue-rgb: 10, 132, 255;
  --color-blue: #0a84ff;
  --color-purple-rgb: 191, 90, 242;
  --color-purple: #bf5af2;
  --color-pink-rgb: 255, 55, 95;
  --color-pink: #ff375f;

  --background-primary: #1e1e1e;
  --background-secondary: #1a1a1a;

  --background-modifier-border: rgba(255, 255, 255, 0.05);
}
.theme-dark.macos-dark.contrast-dark-black {
  --divider-color: #1e1e1e;
}
