.theme-light.melange-light.color-scheme-accent {
  --accent-h: 29;
  --accent-s: 100%;
  --accent-l: 37%;
}
.theme-light.melange-light {
  --interactive-normal: #f0ecea;
  --background-primary: #f0ecea;
  --background-secondary: #e9e1db;
  --background-modifier-border: #d6c0b3;
  --background-modifier-border-hover: #cdb8ad;
  --background-modifier-border-focus: #b09b8f;
  --text-faint: #a98a78;
  --text-muted: #7d6658;
  --text-normal: #54433a;

  --color-blue: #7892bd;
  --color-cyan: #739797;
  --color-green: #6e9b72;
  --color-purple: #ad6bc0;
  --color-pink: #d65cbc;
  --color-red: #c77b8b;
  --color-orange: #bc5c00;
  --color-yellow: #bda240;
  --color-blue-rgb: 120, 146, 189;
  --color-cyan-rgb: 115, 151, 151;
  --color-green-rgb: 110, 155, 114;
  --color-purple-rgb: 173, 107, 192;
  --color-pink-rgb: 214, 92, 188;
  --color-red-rgb: 199, 123, 139;
  --color-orange-rgb: 188, 92, 0;
  --color-yellow-rgb: 189, 162, 64;
}

.theme-dark.melange-dark.color-scheme-accent {
  --accent-h: 28;
  --accent-s: 71%;
  --accent-l: 63%;

  --text-on-accent: var(--background-primary);
  --text-on-accent-inverted: var(--background-primary);
}
.theme-dark.melange-dark,
.theme-light.melange-light.contrast-light-vivid .titlebar,
.theme-light.melange-light.contrast-light-vivid .status-bar,
.theme-light.melange-light.contrast-light-vivid .mod-sidedock,
.theme-light.melange-light.contrast-light-vivid .mod-root .workspace-tab-header-container,
.theme-light.melange-light.contrast-light-vivid .mod-root .workspace-tab-header-container::before {
  --interactive-normal: #292522;
  --background-primary: #292522;
  --background-secondary: #34302c;
  --background-modifier-border: #403a36;
  --background-modifier-border-hover: #635851;
  --background-modifier-border-focus: #7e7469;
  --text-faint: #867462;
  --text-muted: #c1a78e;
  --text-normal: #ece1d7;

  --color-blue: #7f91b2;
  --color-cyan: #7b9695;
  --color-green: #78997a;
  --color-purple: #b380b0;
  --color-pink: #c070ae;
  --color-red: #bd8183;
  --color-orange: #e49b5d;
  --color-yellow: #d2be73;
  --color-blue-rgb: 127, 145, 178;
  --color-cyan-rgb: 123, 150, 149;
  --color-green-rgb: 120, 153, 122;
  --color-purple-rgb: 179, 128, 176;
  --color-pink-rgb: 192, 112, 174;
  --color-red-rgb: 189, 129, 131;
  --color-orange-rgb: 228, 155, 93;
  --color-yellow-rgb: 210, 190, 115;
}
