/* Sky color scheme, inspired by Notion */

.theme-light.notion-light.color-scheme-accent {
  --accent-h: 197;
  --accent-s: 71%;
  --accent-l: 52%;
}
.theme-light.notion-light {
  --background-secondary: #f7f6f4;
  --interactive-normal: #e8e7e4;

  --background-modifier-border: #ededec;
  --background-modifier-border-hover: #dbdbda;
  --background-modifier-border-focus: #aaa9a5;

  --text-normal: #37352f;
  --text-muted: #72706c;
  --text-faint: #aaa9a5;

  --text-selection: rgba(131, 201, 229, 0.3);
}

.theme-dark.notion-dark.color-scheme-accent {
  --accent-h: 197;
  --accent-s: 71%;
  --accent-l: 52%;
}
.theme-dark.notion-dark,
.theme-light.notion-light.contrast-light-vivid .titlebar,
.theme-light.notion-light.contrast-light-vivid .status-bar,
.theme-light.notion-light.contrast-light-vivid .workspace::before,
.theme-light.notion-light.contrast-light-vivid .mod-sidedock,
.theme-light.notion-light.contrast-light-vivid .mod-root .workspace-tab-header-container,
.theme-light.notion-light.contrast-light-vivid .mod-root .workspace-tab-header-container::before {
  --background-primary: #2f3437;
  --background-secondary: #373c3f;
  --interactive-normal: #4b5053;

  --background-modifier-border: #3e4245;
  --background-modifier-border-hover: #585d5f;
  --background-modifier-border-focus: #585d5f;

  --text-normal: #ebebeb;
  --text-muted: #a3a5a9;
  --text-faint: #6d7476;

  --text-selection: rgba(57, 134, 164, 0.3);
}
.theme-dark.notion-dark.contrast-dark-black {
  --interactive-normal: #232729;
  --background-modifier-border: #2f3437;
}
