/* Sky color scheme, inspired by Notion */

.theme-light.notion-light {
  --background-secondary: #f7f6f4;
  --interactive-normal: #e8e7e4;

  --background-modifier-border: #ededec;
  --background-modifier-border-hover: #dbdbda;
  --background-modifier-border-focus: #aaa9a5;

  --text-normal: #37352f;
  --text-muted: #72706c;
  --text-faint: #aaa9a5;

  --text-selection: rgba(131, 201, 229, 0.3);
}
.theme-dark.notion-dark {
  --background-primary: #2f3437;
  --background-secondary: #373c3f;
  --interactive-normal: #4b5053;

  --background-modifier-border: #3e4245;
  --background-modifier-border-hover: #585d5f;
  --background-modifier-border-focus: #585d5f;

  --text-normal: #ebebeb;
  --text-muted: #909295;
  --text-faint: #585d5f;

  --text-selection: rgba(57, 134, 164, 0.3);
}
.theme-dark.notion-dark.contrast-dark-black {
  --interactive-normal: #232729;
  --background-modifier-border: #2f3437;
}
