/* Things */

.theme-dark.things-dark,
.theme-light.things-light {
  --color-red-rgb: 255, 48, 108;
  --color-orange-rgb: 255, 149, 2;
  --color-yellow-rgb: 255, 213, 0;
  --color-green-rgb: 75, 191, 94;
  --color-cyan-rgb: 73, 174, 164;
  --color-purple-rgb: 176, 81, 222;
  --color-pink-rgb: 255, 46, 85;

  --color-red: #ff306c;
  --color-orange: #ff9502;
  --color-yellow: #ffd500;
  --color-green: #4bbf5e;
  --color-cyan: #49aea4;
  --color-purple: #b051de;
  --color-pink: #ff2e55;
}

.theme-light.things-light {
  --color-blue-rgb: 27, 97, 194;
  --color-blue: #1b61c2;
}
.theme-dark.things-dark {
  --color-blue-rgb: 77, 149, 247;
  --color-blue: #4d95f7;
}

.theme-light.things-light {
  --background-primary: white;
  --background-secondary: #f5f6f8;
  --interactive-normal: rgba(162, 177, 187, 0.25);

  --background-modifier-border: #eef0f4;
  --background-modifier-border-hover: #d8dadd;
  --background-modifier-border-focus: #c1c3c6;

  --text-normal: #26272b;
  --text-muted: #7d7f84;
  --text-faint: #a9abb0;

  --text-selection: #cae2ff;
}
.theme-light.things-light.contrast-light-tonal {
  --background-modifier-border: #e6e8ec;
}
.theme-light.things-light.contrast-light-white {
  --interactive-normal: #f5f6f8;
}
.theme-dark.things-dark {
  --background-primary: #24262a;
  --background-secondary: #202225;
  --interactive-normal: #3d3f41;

  --divider-color: #17191c;

  --background-modifier-border: #3a3b3f;
  --background-modifier-border-hover: #45464a;
  --background-modifier-border-focus: #6c6e70;

  --text-normal: #fbfbfb;
  --text-muted: #cbcccd;
  --text-faint: #6c6e70;

  --text-selection: rgba(40, 119, 236, 0.35);
}

.theme-dark.things-dark.contrast-dark-black {
  --interactive-normal: #24262a;
  --divider-color: #24262a;
}
