.link-panel {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  width: 0;
  background-color: var(--background-primary);
  border: 1px solid var(--background-modifier-border);
  border-radius: 8px;
  color: var(--text-normal);
  text-decoration: none;
}

.link-panel button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 8px;
  font: inherit;
  border-radius: 0;
  appearance: none;
  cursor: pointer;
  height: 240px;
}
