body {
  --background-primary: var(--color-base-00);
  --background-primary-alt: var(--color-base-10);
  --background-secondary: var(--color-base-20);
  --background-modifier-hover: rgba(var(--mono-rgb-100), 0.075);
  --background-modifier-active-hover: hsla(170, 65%, 27%, 0.15);
  --background-modifier-border: var(--color-base-30);
  --interactive-normal: var(--color-base-00);
  --interactive-hover: var(--color-base-10);
  --text-muted: var(--color-base-70);
  --text-faint: var(--color-base-50);
}
@media (prefers-color-scheme: light) {
  body {
    --mono-rgb-0: 255, 255, 255;
    --mono-rgb-100: 0, 0, 0;
    --color-red: #e93147;
    --color-orange: #ec7500;
    --color-yellow: #e0ac00;
    --color-green: #08b94e;
    --color-cyan: #00bfbc;
    --color-blue: #086ddd;
    --color-purple: #7852ee;
    --color-pink: #d53984;
    --color-base-00: #ffffff;
    --color-base-05: #fcfcfc;
    --color-base-10: #fafafa;
    --color-base-20: #f6f6f6;
    --color-base-25: #e3e3e3;
    --color-base-30: #e0e0e0;
    --color-base-35: #d4d4d4;
    --color-base-40: #bdbdbd;
    --color-base-50: #ababab;
    --color-base-60: #707070;
    --color-base-70: #5c5c5c;
    --color-base-80: #494949;
    --color-base-90: #363636;
    --color-base-100: #222222;
    --background-secondary-alt: var(--color-base-05);
    --text-normal: var(--color-base-100);
    --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112), 0px 30px 90px rgba(0, 0, 0, 0.2);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    --mono-rgb-0: 0, 0, 0;
    --mono-rgb-100: 255, 255, 255;
    --color-red: #fb464c;
    --color-orange: #e9973f;
    --color-yellow: #e0de71;
    --color-green: #44cf6e;
    --color-cyan: #53dfdd;
    --color-blue: #027aff;
    --color-purple: #a882ff;
    --color-pink: #fa99cd;
    --color-base-00: #1e1e1e;
    --color-base-05: #212121;
    --color-base-10: #242424;
    --color-base-20: #262626;
    --color-base-25: #2a2a2a;
    --color-base-30: #363636;
    --color-base-35: #3f3f3f;
    --color-base-40: #555555;
    --color-base-50: #666666;
    --color-base-60: #999999;
    --color-base-70: #b3b3b3;
    --color-base-80: #c0c0c0;
    --color-base-90: #cdcdcd;
    --color-base-100: #dadada;
    --background-secondary-alt: var(--color-base-30);
    --interactive-normal: var(--color-base-30);
    --interactive-hover: var(--color-base-35);
    --text-normal: var(--color-base-90);
    --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112), 0px 30px 90px rgba(0, 0, 0, 0.2);
  }
}

body {
  margin: 0;
  margin: auto;
  background-color: var(--background-secondary);
  padding: 40px;
  width: 90vw;
  max-width: 800px;
  color: var(--text-normal);
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title-container {
  display: flex;
  align-items: center;
}
.title-container h1 {
  margin: 0;
  font-size: 1.802em;
  line-height: 1.2;
  font-family: "Instrument Serif", sans-serif;
  letter-spacing: -0.015em;
}
.title-container a {
  color: var(--text-muted);
  font-size: 0.85rem;
  text-decoration: none;
  margin-left: auto;
}

.panels-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}
.panels-container p {
  width: 100%;
  margin: 0;
  font-size: 0.85rem;
  text-align: center;
  color: var(--text-muted);
}
.input-panel,
.output-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
}
textarea {
  box-sizing: border-box;
  border: 1px solid var(--background-modifier-border);
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  height: 16rem;
  resize: vertical;
  font-family: monospace;
  white-space: pre;

  &::placeholder {
    color: var(--text-faint);
  }
}
button {
  transition: 160ms;
  cursor: pointer;
  border: none;
  border: 1px solid var(--background-modifier-border);
  border-radius: 100px;
  background-color: rgba(var(--mono-rgb-0));
  padding: 0 16px;
  height: 32px;
  color: var(--text-normal);
  font-family: "Inter", sans-serif;
  font-size: 0.85rem;

  &:hover {
    background-color: var(--interactive-hover);
  }
}

.panel-actions {
  display: flex;
  gap: 0.5rem;
}
.clear-btn {
  color: var(--color-red);
}
.copy-btn {
  flex: 1;
  background-color: rgba(var(--mono-rgb-100));
  color: var(--color-base-00);

  &:hover {
    background-color: rgba(var(--mono-rgb-100), 0.8);
  }
}

.unsupported-container:not(:empty) {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 24px;
  background-color: var(--background-primary);
  padding: 24px;
}
.unsupported-container h2 {
  margin: 0;
  font-size: 1.602em;
  line-height: 1.2;
  font-family: "Instrument Serif", sans-serif;
  letter-spacing: -0.015em;
}

.unsupported-category-name {
  margin-bottom: 0.5rem;
  color: var(--text-faint);
  font-weight: 700;
  font-size: 0.85rem;
}
.unsupported-list {
  margin: 0;
}
.unsupported-item:not(:last-child) {
  margin-bottom: 8px;
}
.unsupported-item::marker {
  color: var(--text-faint);
}

/* Settings Replica */
.setting-container {
  border: 1px solid var(--background-modifier-border);
  border-radius: 24px;
  background-color: var(--background-primary);
  padding: 40px 40px 0;
  overflow: hidden;
  pointer-events: none;
}
.setting {
  display: flex;
  box-shadow: var(--shadow-l);
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.setting-sidebar {
  display: flex;
  flex: 0 0 25%;
  flex-direction: column;
  border-right: 1px solid var(--background-modifier-border);
  background: var(--background-secondary);
  padding: 12px;
}
.sidebar-section {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 12px 0;
}
.sidebar-title {
  padding: 8px;
  color: var(--text-faint);
  font-weight: 600;
  font-size: 0.7rem;
}
.sidebar-link {
  border-radius: 4px;
  padding: 4px 8px;
  color: var(--text-normal);
  font-size: 0.85rem;
  &.is-active {
    background-color: var(--background-modifier-hover);
  }
}

.setting-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: var(--background-primary);
  padding: 32px 48px;
}
.setting-header {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 0.75rem;
}

.setting-search {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  border: 1px solid var(--background-modifier-border);
  border-radius: 5px;
  background: var(--background-primary);
  padding: 4px 8px;
  height: 32px;
  color: var(--text-faint);
  font-size: 0.85rem;
  white-space: nowrap;
}
.setting-search svg {
  width: 18px;
  height: 18px;
  color: var(--text-muted);
}

.setting-actions {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.setting-actions button {
  border: none;
  border-radius: 4px;
  background: none;
  padding: 2px 8px;
  color: var(--text-muted);
  font-weight: 500;
  font-size: 0.85rem;
}

.setting-list {
  padding: 24px 0;
}
.setting-item {
  display: flex;
  align-items: center;
}
.setting-item > svg {
  margin-right: 8px;
  width: 14px;
  height: 14px;
  color: var(--text-faint);
}
.setting-item-name {
  color: var(--text-normal);
  font-weight: 600;
  font-size: 1rem;
}
.setting-item-actions {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 8px;
}
.setting-item-actions svg {
  border-radius: 4px;
  padding: 4px;
  width: 18px;
  height: 18px;
  color: var(--text-muted);
}
.setting-actions button:last-child,
.setting-item-actions svg:last-child {
  animation: pulse 5s infinite alternate;
}

@keyframes pulse {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(var(--mono-rgb-100));
    color: var(--color-base-00);
  }
}
